.breadcrumb-item+.breadcrumb-item::before {
    font-family: Feather;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: inherit;
    content: "\203A";
}