<div class="modal fixed-right fade show" id="modalShoppingCart" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-vertical" role="document">

      <div class="modal-content">

        <!-- Close -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times" aria-hidden="true"></i>
        </button>

        <!-- Header-->
        <div class="modal-header line-height-fixed font-size-lg">
          <strong class="mx-auto">Your Cart ({{shopping_items.length}})</strong>
        </div>

        <!-- List group -->
        <ul class="list-group list-group-lg list-group-flush" *ngIf = "shopping_items.length ; else elseBlock">
          <li class="list-group-item" *ngFor = "let item of shopping_items ; let i = index">
            <div class="row align-items-center">
              <div class="col-4">

                <!-- Image -->
                <img class="img-fluid" src={{item.img}}>

              </div>
              <div class="col-8">

                <!-- Title -->
                <p class="font-size-sm font-weight-bold mb-6">
                  <span class="text-body">{{item.title}}</span> <br>
                  <span class="text-muted">${{item.price | number: '1.2'}}</span>
                </p>

                <!--Footer -->
                <div class="d-flex align-items-center">

                  <!-- Select -->
                  <select class="custom-select custom-select-xxs w-auto" (change) = "changeAmount($event , i)">
                    <option *ngFor = "let amount of amounts" value={{amount}}>{{amount}}</option>
                  </select>

                  <!-- Remove -->
                  <span class="font-size-xs text-danger ml-auto cursor" (click) = "removeItem(i)">
                    <i class="fas fa-times"></i> Remove
                  </span>

                </div>

              </div>
            </div>
          </li>
        </ul>
        <!-- emplty cart -->
        <ng-template #elseBlock>
          <div class="container my-auto">
            <div class="row justify-content-center">
              <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center text-muted">
    
                <!-- Heading -->
                <h1 style="font-size: 3em"><i class="fas fa-shopping-cart"></i></h1>
                <h4 class="mb-5">Your shopping cart is empty</h4>
    
              </div>
            </div>
          </div>
      </ng-template>

        <!-- Footer -->
        <div class="modal-footer line-height-fixed font-size-sm bg-light mt-auto">
          <strong>Subtotal</strong> <strong class="ml-auto">${{subtotal | number: '1.2'}}</strong>
        </div>

        <!-- Buttons -->
        <div class="modal-body">
          <button 
            class="btn btn-block btn-dark" 
            [routerLink] = "['/payment']" 
            data-dismiss="modal" 
            aria-label="Close"
            *ngIf = "shopping_items.length">
          Continue to Checkout</button>
          <button 
            class="btn btn-block btn-dark" 
            data-dismiss="modal" 
            aria-label="Close"
            *ngIf = "!shopping_items.length">
          Continue to Shopping</button>
        </div>

      </div>

    </div>
</div>