<div class="container">
    <div class="row">
        <div class="col-12">

            <!-- Heading -->
            <h4 class="mb-5 text-center">Customer Reviews</h4>

            <div class="col-12 col-md text-md-center">

                <!-- Rating -->
                <div class="rating text-dark h6 mb-4 mb-md-0" data-value="4">
                    <div *ngFor = "let s of review_star; let i = index">
                        <i [ngClass]="rateClass(total_review, i) "></i>
                    </div>
                </div>

                <!-- Count -->
                <strong class="font-size-sm ml-2">Reviews ( {{reviews.length}} )</strong>

            </div>

            <div class="d-flex justify-content-end">
                <button class="btn btn-sm btn-outline-dark collapsed" data-toggle="collapse" href="#reviewForm" aria-expanded="false" (click) = "resetScore()">
                  Write Review
                </button>
            </div>


            <!-- New Review -->
            <div class="collapse mb-5" id="reviewForm">

            <!-- Divider -->
            <hr class="my-8">

            <!-- Form -->
            <div>
                <div class="row">
                    <div class="col-12 mb-6 text-center">

                        <!-- Text -->
                        <p class="mb-1 font-size-xs">
                            Score:
                        </p>

                        <!-- Rating form -->
                        <div class="rating-form">

                        <!-- Rating -->
                            <div class="rating h5 text-dark" data-value="5">
                                <div class = "cursor" *ngFor = "let s of review_star; let i = index" (click) = "setScore(i)">
                                    <i [ngClass]="rateClass(score, i)"></i>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-12 col-md-6">

                        <!-- Name -->
                        <div class="form-group">
                            <label class="sr-only" for="reviewName">Your Name:</label>
                            <input class="form-control form-control-sm" id="reviewName" type="text" placeholder="Your Name *" required="">
                        </div>

                    </div>
                    <div class="col-12 col-md-6">

                        <!-- Email -->
                        <div class="form-group">
                            <label class="sr-only" for="reviewEmail">Your Email:</label>
                            <input class="form-control form-control-sm" id="reviewEmail" type="email" placeholder="Your Email *" required="">
                        </div>

                    </div>
                    <div class="col-12">

                        <!-- Name -->
                        <div class="form-group">
                            <label class="sr-only" for="reviewTitle">Review Title:</label>
                            <input class="form-control form-control-sm" id="reviewTitle" type="text" placeholder="Review Title *" required="">
                        </div>

                    </div>
                    <div class="col-12">

                        <!-- Name -->
                        <div class="form-group">
                        <label class="sr-only" for="reviewText">Review:</label>
                        <textarea class="form-control form-control-sm" id="reviewText" rows="5" placeholder="Review *" required=""></textarea>
                        </div>

                    </div>
                    <div class="col-12 text-center">

                        <!-- Button -->
                        <button class="btn btn-outline-dark w-100" type="submit">
                            Post Review
                        </button>

                    </div>
                </div>
            </div>

            </div>

            <!-- Reviews -->
            <div class="mt-8" *ngFor = "let review_content of reviews">

                <!-- Child review -->
                <div class="review shadow-sm p-3 mb-5 bg-light">
                    <div class="review-body">

                        <!-- Content -->
                        <div class="row">
                            <div class="col-12 col-md-auto">

                                <!-- Avatar -->
                                <div class="avatar avatar-xxl mb-6 mb-md-0">
                                    <span class="avatar-title rounded-circle bg-white">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>

                            </div>
                            <div class="col-12 col-md">

                                <!-- Header -->
                                <div class="row mb-6">
                                    <div class="col-12">

                                        <!-- Rating -->
                                        <div class="rating font-size-sm text-dark">
                                            <div *ngFor = "let s of review_star; let i = index">
                                                <i [ngClass]="rateClass(review_content.rate, i) "></i>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-12">

                                        <!-- Time -->
                                        <span class="font-size-xs text-muted">
                                            {{review_content.name}}, 
                                            <time datetime={{review_content.date}}>{{review_content.date}}</time>
                                        </span>

                                    </div>
                                </div>

                                <!-- Title -->
                                <p class="mb-2 font-size-lg font-weight-bold">
                                    {{review_content.review_title}}
                                </p>

                                <!-- Text -->
                                <p class="text-gray-500">
                                    {{review_content.review}}
                                </p>

                            </div>
                        </div>

                    </div>
                </div>

            </div>

            </div>

            <!-- Pagination -->
            <nav class="d-flex mx-auto mt-9">
                <ul class="pagination pagination-sm text-gray-400">
                    <li class="page-item">
                        <a class="page-link page-link-arrow" href="#">
                            <i class="fa fa-caret-left"></i>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link page-link-arrow" href="#">
                            <i class="fa fa-caret-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>