<div class="container">
    <div class="row">
        <div class="col-12">

            <!-- Heading -->
            <h4 class="mb-5 text-center">Customer Reviews</h4>

            <div class="col-12 col-md text-md-center">

                <!-- Rating -->
                <div class="rating text-dark h6 mb-4 mb-md-0">
                    <div *ngFor = "let s of review_star; let i = index">
                        <i [ngClass]="rateClass(total_review, i) "></i>
                    </div>
                </div>

                <!-- Count -->
                <strong class="font-size-sm ml-2">Reviews ( {{reviews.length}} )</strong>

            </div>

            <div class="d-flex justify-content-end">
                <button class="btn btn-sm btn-outline-dark collapsed" data-toggle="collapse" href="#reviewForm" aria-expanded="false" (click) = "resetForm()">
                  Write Review
                </button>
            </div>


            <!-- New Review -->
            <div class="collapse mb-5" id="reviewForm">

            <!-- Divider -->
                <hr class="my-8">

                <!-- Form -->
                <form [formGroup] = "new_review" (ngSubmit) = "onSubmit()">
                    <div class="row">
                        <div class="col-12 mb-6 text-center">

                            <!-- Text -->
                            <p class="mb-1 font-size-xs">
                                Score:
                            </p>

                            <!-- Rating form -->
                            <div class="rating-form">

                            <!-- Rating -->
                                <div class="rating h5 text-dark" data-value="5">
                                    <div class = "cursor" *ngFor = "let s of review_star; let i = index" (click) = "setScore(i)">
                                        <i [ngClass]="rateClass(score, i)"></i>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-12 col-md-6">

                            <!-- Name -->
                            <div class="form-group">
                                <label class="sr-only" for="reviewName">Your Name:</label>
                                <input 
                                    class="form-control form-control-sm" 
                                    type="text" 
                                    placeholder="Your Name *" 
                                    formControlName = "name"
                                    [ngClass] = "classes('name')"
                                >
                                <small class="text-danger ml-2" *ngIf= "displayError('name')">Name is required</small>
                            </div>

                        </div>
                        <div class="col-12 col-md-6">

                            <!-- Email -->
                            <div class="form-group">
                                <label class="sr-only" for="reviewEmail">Your Email:</label>
                                <input 
                                    class="form-control form-control-sm" 
                                    type="email" 
                                    placeholder="Your Email *" 
                                    formControlName = "email"
                                    [ngClass] = "classes('email')"
                                >
                                <div class="ml-2" *ngIf = "displayError('email')">
                                    <ng-template [ngIf] = "formControl('email').errors?.required" [ngIfElse] = "elseBlock">
                                        <small class="text-danger">Email is required</small>
                                    </ng-template>

                                    <ng-template #elseBlock>
                                        <small class="text-danger">Invalid email</small>
                                    </ng-template>
                                </div>
                            </div>

                        </div>
                        <div class="col-12">

                            <!-- Name -->
                            <div class="form-group">
                                <label class="sr-only" for="reviewTitle">Review Title:</label>
                                <input 
                                    class="form-control form-control-sm" 
                                    type="text" 
                                    placeholder="Review Title *" 
                                    formControlName = "review_title"
                                    [ngClass] = "classes('review_title')"
                                >
                                <div *ngIf = "displayError('review_title')">
                                    <ng-template [ngIf] = "formControl('review_title').errors?.required" [ngIfElse] = "elseBlock">
                                        <small class="text-danger ml-2" >Review title is required</small>
                                    </ng-template>
                                    <ng-template #elseBlock>
                                        <small class="text-danger ml-2">Title is too short minimum is 4 characters</small>
                                    </ng-template>
                                </div>
                            </div>

                        </div>
                        <div class="col-12">

                            <!-- Name -->
                            <div class="form-group">
                                <label class="sr-only" for="reviewText">Review:</label>
                                <textarea 
                                    class="form-control form-control-sm" 
                                    rows="5" 
                                    placeholder="Review *" 
                                    formControlName = "review"
                                    [ngClass] = "classes('review')"
                                ></textarea>

                                <div *ngIf = "displayError('review')">
                                    <ng-template [ngIf] = "formControl('review').errors?.required" [ngIfElse] = "elseBlock">
                                        <small class="text-danger ml-2">Review is required</small>
                                    </ng-template>
                                    <ng-template #elseBlock>
                                        <small class="text-danger ml-2">Reivew is too short minimum is 10 characters</small>
                                    </ng-template>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 text-center">

                            <!-- Button -->
                            <button class="btn btn-outline-dark w-100" type="submit">
                                Post Review
                            </button>

                        </div>
                    </div>
                </form>

            </div>

            <!-- Reviews -->
            <div class="review-contents mt-8 p-2" *ngIf = "display_reviews.length ; else elseBlock">
                <div *ngFor = "let review_content of display_reviews">

                    <!-- Child review -->
                    <div class="review shadow-sm p-3 mb-5 bg-light">
                        <div class="review-body">
    
                            <!-- Content -->
                            <div class="row">
                                <div class="col-12 col-md-auto">
    
                                    <!-- Avatar -->
                                    <div class="avatar avatar-xxl mb-6 mb-md-0">
                                        <span class="avatar-title rounded-circle bg-white">
                                            <i class="fa fa-user"></i>
                                        </span>
                                    </div>
    
                                </div>
                                <div class="col-12 col-md">
    
                                    <!-- Header -->
                                    <div class="row mb-6">
                                        <div class="col-12">
    
                                            <!-- Rating -->
                                            <div class="rating font-size-sm text-dark">
                                                <div *ngFor = "let s of review_star; let i = index">
                                                    <i [ngClass]="rateClass(review_content.rate, i) "></i>
                                                </div>
                                            </div>
    
                                        </div>
                                        <div class="col-12">
    
                                            <!-- Time -->
                                            <span class="font-size-xs text-muted">
                                                {{review_content.name | titlecase}}, 
                                                <time datetime={{review_content.date}}>{{review_content.date}}</time>
                                            </span>
    
                                        </div>
                                    </div>
    
                                    <!-- Title -->
                                    <p class="mb-2 font-size-lg font-weight-bold">
                                        {{review_content.review_title}}
                                    </p>
    
                                    <!-- Text -->
                                    <p class="text-gray-500">
                                        {{review_content.review}}
                                    </p>
    
                                </div>
                            </div>
    
                        </div>
                    </div>
    
                </div>
            </div>

            <ng-template #elseBlock>
                <div class="container bg-light my-3 py-10">
                    <h3 class="text-center">There are no customer reviews yet.</h3>
                </div>
            </ng-template>

            </div>

            <!-- Pagination -->
            <nav class="d-flex mx-auto mt-9" *ngIf = "displayPagination()">
                <ul class="pagination pagination-sm text-gray-400">
                    <li class="page-item">
                        <label class="page-link page-link-arrow cursor" (click) = "change_page('prev')">
                            <i class="fa fa-caret-left"></i>
                        </label>
                    </li>
                    <li [ngClass] = "pagination_class(i)" *ngFor = "let p of reviews_length ; let i = index">
                        <label class="page-link cursor" (click) = "change_page_number(i)">{{i + 1}}</label>
                    </li>
                    <li class="page-item">
                        <label class="page-link page-link-arrow cursor" (click) = "change_page('next')">
                            <i class="fa fa-caret-right"></i>
                        </label>
                    </li>
                </ul>
            </nav>

        </div>
    </div>