<div class="mb-9">

  <app-home-header></app-home-header>

  <div class="container text-center mt-10">
    <h2 class="border-bottom">Top Selling</h2>
  </div>

  <!-- Top selling -->
  <div class="section pt-5 pb-10">
      <div class="container">
        <!-- first row  -->
        <div 
          class="row pt-12 justify-content-center" 
          *ngFor = "let t_item of top_selling ; let i = index"
        >
          <ng-template [ngIf] = "i === 1 || i === 3" [ngIfElse] = "elseBlock">
            <div class="col-12 col-md-10">
              <div class="row align-items-center">
                <div class="col-10 col-md-5">

                  <!-- Card -->
                  <div class="card">

                    <!-- Price -->
                    <div [class.text-primary] = "t_item.isSale" class="btn btn-white btn-sm card-price card-price-left">
                      <span *ngIf = "t_item.isSale ; else elseBlock">${{t_item.sale_price | number:'1.2'}}</span>
                      <ng-template #elseBlock>
                        <span>${{t_item.current_price | number: '1.2'}}</span>
                      </ng-template>
                    </div>

                    <!-- Badge -->
                    <div 
                      class="badge badge-primary card-badge card-badge-left text-uppercase" 
                      *ngIf = "t_item.isSale"
                    >
                      Sale
                    </div>

                    <div 
                      class="badge badge-dark card-badge card-badge-left text-uppercase" 
                      *ngIf = "t_item.is_New"
                    >
                      New
                    </div>

                    <!-- Image -->
                    <img [src]="t_item.img" [alt]="t_item.title" class=" card-img-top">

                  </div>

                </div>
                <div class="col-7 col-md-5 offset-n5 offset-md-n1 shadow-sm p-3 mb-5 white_tp_background">

                  <!-- Heading -->
                  <h4 class="mb-0">
                    {{t_item.title}}
                  </h4>
                  <small class="text-muted ml-2">{{t_item.category}}</small> <br>

                  <!-- Link -->
                  <a class="btn btn-link home-btn-link px-0 text-body" [routerLink] = "['/item']" (click) = "viewItem(t_item)">
                    Shop Now <i class="fas fa-angle-right ml-2"></i>
                  </a>

                </div>
                
              </div>
            </div>
          </ng-template>

          <ng-template #elseBlock>
            <div class = "col-12 col-md-5 p-2 ml-2" [class.pt-12] = 'i === 1' *ngFor = "let item of t_item ; let i = index">
              <div class="row align-items-center">
                <div class="col-8 col-lg-6" >

                  <!-- Card -->
                  <div class="card ">

                    <!-- Price -->
                    <div [class.text-primary] = "item.isSale" class="btn btn-white btn-sm card-price card-price-left">
                      <span *ngIf = "item.isSale ; else elseBlock">${{item.sale_price | number:'1.2'}}</span>
                      <ng-template #elseBlock>
                        <span>${{item.current_price | number: '1.2'}}</span>
                      </ng-template>
                    </div>

                    <div class="badge badge-primary card-badge card-badge-left text-uppercase" *ngIf = "item.isSale">
                      Sale
                    </div>

                    <div class="badge badge-dark card-badge card-badge-left text-uppercase" *ngIf = "item.is_New">
                      New
                    </div>
                    <!-- Image -->
                    <img [src]="item.img" [alt]="item.title" class="card-img-top" />

                  </div>

                </div>
                <div class="col-8 col-lg-7 offset-n3 offset-lg-n1 white_tp_background shadow-sm p-3 mb-5">

                  <!-- Heading -->
                  <h4 class="mb-2">
                    {{item.title}}
                  </h4>
                  <small class="text-muted ml-2">{{item.category}}</small> <br>

                  <!-- link -->
                  <a class="btn btn-link home-btn-link px-0 text-body" [routerLink] = "['/item']" (click) = "viewItem(item)">
                    Shop Now <i class="fas fa-angle-right ml-2"></i>
                  </a>

                </div>
              </div>
            </div>
          </ng-template>
        </div>

      </div>
    </div>

  <!-- New arrival -->

  <div class="container pb-8 pt-5">
      <div class="row">
        <div class="col-12">

          <!-- Heading -->
          <h2 class="mb-7 text-center border-bottom">New Arrivals</h2>

          <div class="d-flex flex-wrap justify-content-center">
              <div class="card mx-3 bg-transparent pt-5" style="width: 18rem;" *ngFor = "let new_item of display_new_arrivals">
                  <div class="badge badge-dark  card-badge new-arrival-badge">
                    ${{new_item.current_price | number: '1.2'}}
                  </div>

                  <div class="card-img">
                    <button class="btn btn-xs btn-block btn-dark card-btn" [routerLink] = "['/item']" (click) = "viewItem(new_item)">
                      <i class="far fa-eye mr-2 mb-1"></i> Quick View
                    </button>
                    <img [src]="new_item.img" class="card-img-top" [alt]="new_item.title">
                  </div> 

                  <div class="card-body px-0 shadow-sm p-3 mb-5 bg-white border-top mt-1">
                      <div class="mr-auto">
                          <!-- Heading -->
                          <div class="d-flex">
                              <div class="mr-auto">
                                  <div class="font-weight-bold">
                                      <label class="text-body">{{new_item.title}}</label>
                                  </div>
          
                                  <!-- Text -->
                                  <div class="font-size-sm">
                                    <label class="text-muted">{{new_item.category}}</label>
                                  </div>

                              </div>
                          </div>
                        </div>
                  </div>
              </div>
          </div>
          <!-- Button -->
          <nav class="d-flex justify-content-center justify-content-md-end" *ngIf = "new_arrivals.length > new_arrival_display_amount">
            <ul class="pagination pagination-sm text-gray-400">
              <li class="page-item">
                <span class="page-link page-link-arrow cursor" (click) = "change_page('prev')">
                  <i class="fa fa-caret-left"></i>
                </span>
              </li>
              <li [ngClass] = "new_arrival_class(i)" *ngFor = "let num of new_arrival_length; let i = index" >
                <span class="page-link cursor" (click) = "change_page_number(i)">{{i + 1}}</span>
              </li>
              <li class="page-item">
                <span class="page-link page-link-arrow cursor" (click) = "change_page('next')" >
                  <i class="fa fa-caret-right"></i>
                </span>
              </li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
</div>

