
<div *ngIf = "widhlist.length ; else elseBlock">
    <div class="row">

        <!-- Item -->
        <div class="col-6 col-md-4" *ngFor = "let item of display_widhlist ; let i = index">
            <div class="card mb-7">

                <!-- Image -->
                <div class="card-img">

                    <!-- Action -->
                    <button class="btn btn-xs btn-circle btn-danger card-action card-action-right" (click) = "removeWidhlist(i)">
                        <i class="fas fa-times"></i>
                    </button>

                    <!-- Badge -->
                    <span class="badge badge-danger card-badge card-badge-left text-uppercase" *ngIf = "item.isSale">
                        Sale
                    </span>
                    <span class="badge badge-dark card-badge card-badge-left text-uppercase" *ngIf = "item.isNew">
                        New
                    </span>

                    <!-- Button -->
                    <button class="btn btn-xs btn-block btn-dark card-btn" (click) = "viewItem(item)" [routerLink] = "['/item']">
                        <i class="far fa-eye mr-2 mb-1"></i> Quick View
                    </button>

                    <!-- Image -->
                    <img class="card-img-top border" [src]="item.img" [alt]="item.title">

                </div>

                <!-- Body -->
                <div class="card-body px-0 px-4">
      
                  <!-- Category -->
                  <div class="font-size-xs">
                    <span class="text-muted">{{item.category}}</span>
                  </div>

                  <!-- Title -->
                  <div class="font-weight-bold">
                    <span class="text-body">
                      {{item.title}}
                    </span>
                  </div>
                  <ng-template [ngIf] = "item.isSale" [ngIfElse] = "elseBlock">
                    <p class="text-right">
                      <span class="text-muted text-decoration-line-through">${{item.current_price | number: '1.2'}}</span>
                      <span class="ml-1 font-size-h6 font-weight-bolder text-primary">${{item.sale_price | number: '1.2'}}</span>
                    </p>
                  </ng-template>
                  <ng-template #elseBlock>
                    <p class="text-muted text-right">${{item.current_price | number: '1.2'}}</p>
                  </ng-template>

                </div>

              </div>
        </div>

    </div>

    <!-- Pagination -->
    <nav class="d-flex justify-content-center justify-content-md-end" *ngIf = "widhlist.length > widhlist_display_amount">
        <ul class="pagination pagination-sm text-gray-400">
          <li class="page-item">
            <span class="page-link page-link-arrow cursor" (click) = "change_page('prev')">
              <i class="fa fa-caret-left"></i>
            </span>
          </li>
          <li [ngClass] = "pagination_class(i)" *ngFor = "let num of widhlist_length; let i = index" >
            <span class="page-link cursor" (click) = "change_page_number(i)">{{i + 1}}</span>
          </li>
          <li class="page-item">
            <span class="page-link page-link-arrow cursor" (click) = "change_page('next')" >
              <i class="fa fa-caret-right"></i>
            </span>
          </li>
        </ul>
      </nav> 
</div>

<ng-template #elseBlock>
    <div class="container text-center text-muted mt-5">
  
      <h1 style="font-size: 3em"><i class="fas fa-heart text-danger"></i></h1>
      <h3 class="mb-5"><strong>Your wishlist is empty!</strong></h3>
      <span>Explore more and shortlist some items</span>
  
    </div>
</ng-template>
