<div class="row">
    <div class="col-12 col-lg-6" *ngFor = "let shipping of shipping_details; let i = index">

      <!-- Card -->
      <div class="card card-lg bg-light mb-2 border" [class.border-info] = 'shipping.default_address' >
        <div class="card-body border-bottom">

          <h6 class="mb-6">
            {{shipping.default_address ? 'Default Shipping Detail' : 'Shipping Detail'}} 
          </h6>

          <p class="mb-0">
            User name: {{shipping.first_name}} {{shipping.last_name}} <br>
            Email: {{shipping.email}} <br>
            Address: {{shipping.address1}} <br>
            <span *ngIf = "shipping.address2">Address2: {{shipping.address2}} <br></span>
            City: {{shipping.city}} <br>
            State: {{shipping.state}} <br>
            Zipcode: {{shipping.zip}} <br>
            Country: {{shipping.country}} <br>
            Phone number: {{shipping.phone}} <br>
          </p>

          <div class="card-action card-action-right">

            <button class="btn btn-xs btn-circle btn-white-primary ml-2" data-toggle="modal" data-target="#editUserAddress" (click) = "editShipping(i , shipping)">
              <i class="fa fa-pen"></i>
            </button>

            <button class="btn btn-xs btn-circle btn-white-primary" (click) = "removeShipping(i)" >
              <i class="fas fa-times"></i>
            </button>

          </div>
        </div>
        <p class="text-right p-0 my-2 mx-0">Set default shipping detail <input type="checkbox" class="mr-2 cursor" [checked] = "shipping.default_address" (click) = "setDefaultShipping(i)"></p>
      </div>

    </div>

    <div class="container text-center my-10" *ngIf = "shipping_details.length === 0">
      <h4 class="text-muted">No address specified</h4>
    </div>
    
    <div class="col-12">

      <!-- Button -->
      <button class="btn btn-block btn-lg btn-outline-border"  data-toggle="modal" data-target="#editUserAddress" (click) = "editShipping()" *ngIf = "slotAvaliable" >
        Add Address <i class="fas fa-plus ml-3"></i>
      </button>

    </div>
</div>

<app-edit-address-modal></app-edit-address-modal>