<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="5000">
        <img src="https://images.footlocker.com/content/dam/final/footaction/site/homepage/2027-fa-retro-denim-1up.jpg" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <div class="row align-items-center py-12 black_tp_background rounded">
            <div class="col-6 col-md-12 col-lg-7 col-xl-6 offset-md-1 text-left p-3">

              <!-- Heading -->
              <h1 class="text-monospace animate__animated animate__backInRight" style="--animate-duration: 1s">Online Shopping</h1>
              <br>
              <p class="animate__animated animate__backInUp" style="--animate-duration: 1s">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae deleniti eaque consequatur vero ipsa, placeat reiciendis maxime natus, illum minus, tempore consequuntur at sed? Voluptatum, optio. Deserunt, hic voluptatum! Error ipsam quia a, accusamus facilis repudiandae obcaecati. Sapiente iusto architecto unde atque, similique, consectetur sit facere neque ea sed ducimus?</p>

            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-interval="10000">
        <img src="https://images.footlocker.com/content/dam/final/kidsfootlocker/site/homepage/20200827-kfl-retro-3-denim-hero.jpg" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <div class="row align-items-center py-12 black_tp_background rounded">
            <div class="col-6 col-md-12 col-lg-7 col-xl-6 offset-md-1 text-left p-3">

              <!-- Heading -->
                <h3 class="text-monospace animate__animated animate__backInRight" style="--animate-duration: 1s">RUNNING SHOES</h3>
                <h1 class="text-monospace animate__animated animate__backInRight" style="--animate-duration: 1s">SPECIAL EDITION</h1>
                <hr class="border border-info">
                <p class="animate__animated animate__backInUp" style="--animate-duration: 1s">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae deleniti eaque consequatur vero ipsa, placeat reiciendis maxime natus, illum minus, tempore consequuntur at sed? Voluptatum, optio. Deserunt, hic voluptatum! Error ipsam quia a, accusamus facilis repudiandae obcaecati. Sapiente iusto architecto unde atque, similique, consectetur sit facere neque ea sed ducimus?</p>

            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-interval="15000">
        <img src="https://www.landsend.com/_tabs/mns/images/20200813-mns_feat.jpg" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <div class="row align-items-center py-12 black_tp_background rounded">
            <div class="container col-6 text-center p-3">
 
              <!-- Heading -->
              <h1 class="text-monospace animate__animated animate__backInRight" style="--animate-duration: 1s">FASHION 2020 - NEW</h1>
              <hr class="border border-info">
              <p class="animate__animated animate__backInUp" style="--animate-duration: 1s">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam aperiam nihil vel suscipit commodi voluptates, aliquam, hic autem eligendi, cum minus porro deleniti dolorem modi totam! Distinctio consectetur eius molestias?</p>
              <hr class="border border-info">
              <h6 class="text-monospace animate__animated animate__backInRight" style="--animate-duration: 1s"><strong>NOW OFFERING</strong></h6>
              <h4 class="text-monospace animate__animated animate__backInRight" style="--animate-duration: 1s"><strong>FREE SHIPPING</strong></h4>
              <h6 class="text-monospace animate__animated animate__backInRight" style="--animate-duration: 1s"><strong>ON EVERY ORDERS</strong></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>