<nav class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- Breadcrumb -->
          <ol class="breadcrumb mb-0 font-size-xs text-gray-400">
            <li class="breadcrumb-item">
              <a class="text-gray-400" [routerLink] = "['/']">Home</a>
            </li>
            <li class="breadcrumb-item">
              Shopping Cart
            </li>
            <li class="breadcrumb-item active">
              Checkout
            </li>
          </ol>

        </div>
      </div>
    </div>
</nav>

<div class="container pt-7 pb-12" *ngIf = "shopping_items.length ; else elseBlock ">
    <div class="row">
      <div class="col-12 text-center">

        <!-- Heading -->
        <h3 class="mb-4">Checkout</h3>

        <!-- Subheading -->
        <p class="mb-10" *ngIf = "!current_user">
          Already have an account? 
          <label class="font-weight-bold text-reset cursor link-item" data-toggle="tab" data-toggle="modal" data-target="#loginModal">Click here to login</label>
        </p>

      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-7">

        <!-- Form -->
        <form [formGroup] = "payment_form">
          <!-- Heading -->
          <h6 class="mb-4">Billing Details</h6>
          <span class="text-monospace cursor ml-2 link-item" data-toggle="modal" data-target="#shippingAdressModal" *ngIf = "current_user">Select shipping address? </span>

          <!-- Billing details -->
          <div class="row mb-9 mt-4">
            <div class="col-12 col-md-6">

              <!-- First Name -->
              <div class="form-group">
                <label for="checkoutBillingFirstName">
                  First Name <small class="text-danger">*</small>
                </label>
                <input 
                  class="form-control form-control-sm" 
                  type="text" 
                  placeholder="First Name" 
                  formControlName = "first_name"
                  [ngClass] = "classes('first_name')"
                >
                <small class="text-danger ml-2" *ngIf = "displayError('first_name')">First name is required</small>
              </div>

            </div>
            <div class="col-12 col-md-6">

              <!-- Last Name -->
              <div class="form-group">
                <label for="checkoutBillingLastName">
                  Last Name <small class="text-danger">*</small>
                </label>
                <input 
                  class="form-control form-control-sm" 
                  type="text" 
                  placeholder="Last Name"
                  formControlName = "last_name" 
                  [ngClass] = "classes('last_name')"
                >
              </div>
              <small class="text-danger ml-2" *ngIf = "displayError('last_name')">Last name is required</small>

            </div>
            <div class="col-12">

              <!-- Email -->
              <div class="form-group">
                <label for="checkoutBillingEmail">
                  Email <small class="text-danger">*</small></label>
                <input 
                  class="form-control form-control-sm" 
                  type="email" 
                  placeholder="Email"
                  formControlName = "email" 
                  [ngClass] = "classes('email')"
                >
                <div *ngIf = "displayError('email')">
                  <ng-template [ngIf] = "formControl('email').errors?.required" [ngIfElse] = "elseBlock">
                    <small class="text-danger ml-2">Email is required</small>
                  </ng-template>
                  <ng-template #elseBlock>
                    <small class="text-danger ml-2">Invalid Email</small>
                  </ng-template>
                </div>
              </div>

            </div>
            <div class="col-12">

              <!-- Company Name -->
              <div class="form-group">
                <label for="checkoutBillingCompany">
                  Company name
                </label>
                <input 
                  class="form-control form-control-sm" 
                  type="text" 
                  placeholder="Company name (optional)"
                  formControlName = "company_name"
                >
              </div>

            </div>
            <div class="col-12">

              <!-- Country -->
              <div class="form-group">
                <label for="checkoutBillingCountry">
                  Country <small class="text-danger">*</small>
                </label>
                <input 
                  class="form-control form-control-sm" 
                  type="text" 
                  placeholder="Country" 
                  formControlName = "country"
                  [ngClass] = "classes('country')"
                >
                <small class="text-danger ml-2" *ngIf = "displayError('country')">Country is required</small>
              </div>

            </div>
            <div class="col-12">

              <!-- Address Line 1 -->
              <div class="form-group">
                <label for="checkoutBillingAddress">
                  Address Line 1 <small class="text-danger">*</small>
                </label>
                <input 
                  class="form-control form-control-sm" 
                  type="text" 
                  placeholder="Address Line 1" 
                  formControlName = "address1"
                  [ngClass] = "classes('address1')"
                >
                <small class="text-danger ml-2" *ngIf = "displayError('address1')">Address is required</small>
              </div>

            </div>
            <div class="col-12">

              <!-- Address Line 2 -->
              <div class="form-group">
                <label for="checkoutBillingAddressTwo">
                  Address Line 2
                </label>
                <input 
                  class="form-control form-control-sm" 
                  type="text" 
                  placeholder="Address Line 2 (optional)"
                >
              </div>

            </div>
            <div class="col-12 col-md-4">

              <!-- Town / City -->
              <div class="form-group">
                <label for="checkoutBillingTown">
                  City <small class="text-danger">*</small>
                </label>
                <input 
                  class="form-control form-control-sm" 
                  type="text" 
                  placeholder="City"
                  formControlName = "city" 
                  [ngClass] = "classes('city')"
                >
                <small class="text-danger ml-2" *ngIf="displayError('city')">City is required</small>
              </div>

            </div>
            <div class="col-12 col-md-4">

              <!-- State -->
              <div class="form-group">
                <label for="checkoutBillingTown">
                  State <small class="text-danger">*</small>
                </label>
                <input 
                  class="form-control form-control-sm" 
                  type="text" 
                  placeholder="State"
                  formControlName = "state" 
                  [ngClass] = "classes('state')"
                >
                <small class="text-danger ml-2" *ngIf="displayError('state')">State is required</small>
              </div>

            </div>
            <div class="col-12 col-md-4">

              <!-- ZIP / Postcode -->
              <div class="form-group">
                <label for="checkoutBillingZIP">
                  Zip <small class="text-danger">*</small>
                </label>
                <input 
                  class="form-control form-control-sm" 
                  type="text" 
                  placeholder="Zip" 
                  formControlName = "zip"
                  [ngClass] = "classes('zip')"
                >
                <small class="text-danger ml-2" *ngIf = "displayError('zip')">Zip is required</small>
              </div>

            </div>
            <div class="col-12">

              <!-- Mobile Phone -->
              <div class="form-group mb-0">
                <label for="checkoutBillingPhone">
                  Phone <small class="text-danger">*</small>
                </label>
                <input 
                  class="form-control form-control-sm" 
                  type="tel" 
                  placeholder="Phone number"
                  formControlName = "phone"
                  [ngClass] = "classes('phone')"
                >
                <div *ngIf = "displayError('phone')">
                  <ng-template [ngIf] = "formControl('phone').errors?.required" [ngIfElse] = "elseBlock">
                    <small class="text-danger ml-2">Phone number is required</small>
                  </ng-template>
                  <ng-template #elseBlock>
                    <small class="text-danger ml-2">Invalid phone number</small>
                  </ng-template>
                </div>
              </div>

            </div>
          </div>

          <!-- Heading -->
          <h6 class="mb-7">Shipping Details</h6>

          <!-- Shipping details -->
          <div class="table-responsive mb-6">
            <table class="table table-bordered table-sm table-hover mb-0">
              <tbody>
                <tr *ngFor = "let shipping of shipping_details ; let i = index">
                  <td>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" name="shipping" id={{shipping.type}} (click) = "select_shipping(i)">
                      <label class="custom-control-label text-body text-nowrap" for={{shipping.type}}>
                        {{shipping.type}}
                      </label>
                    </div>
                  </td>
                  <td>{{shipping.detail}}</td>
                  <td>${{shipping.price}}.00</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Notes -->
          <textarea 
            class="form-control form-control-sm mb-9 mb-md-0 font-size-xs" 
            rows="5" 
            placeholder="Order Notes (optional)"
            formControlName = "order_notes"
          ></textarea>

        </form>

        <!-- Shipping address modal -->
        <div class="modal fade" id="shippingAdressModal" tabindex="-1" aria-labelledby="shippingAdressLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="shippingAdressModalLabel">Shipping Address</h5>
                <button type="button" id="shippingAdressModalClose" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row d-flex justify-content-center" *ngIf = "user_addresses.length; else elseBlock">
                  <div class="col-6 cursor" *ngFor = "let address of user_addresses ; let i = index" (click) = "getShippingAddress(address , i)">
                    <div class="card card-lg bg-light mb-8 border" [class.border-info] = "i === selected_address_index">
                      <div class="card-body">
              
                        <!-- Heading -->
                        <h6 class="mb-6 card-title">
                          Shipping Address Detail 
                        </h6>
              
                        <!-- Text -->
                        <p class="mb-0 card-tex">
                          User name: {{address.first_name}} {{address.last_name}} <br>
                          Address: {{address.address1}} <br>
                          <span *ngIf = "address.address2">Address2: {{address.address2}} <br></span>
                          City: {{address.city}} <br>
                          State: {{address.state}} <br>
                          Zipcode: {{address.zip}} <br>
                          Country: {{address.country}} <br>
                          Phone number: {{address.phone}} <br>
                        </p>
              
                      </div>
                    </div>
                  </div>
                </div>

                <ng-template #elseBlock>
                  <div class="container text-center">
                    <h5>No address specified</h5>
                    <br>
                    <button class="btn btn-dark" [routerLink] = "['/user-profile' , {title: 'Addresses'}]" data-dismiss="modal" aria-label="Close">
                      Add shipping address
                    </button>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-12 col-md-5 col-lg-4 offset-lg-1 ">

        <!-- Heading -->
        <h6 class="mb-7">Order Items ({{shopping_items.length}})</h6>

        <!-- Divider -->
        <hr class="my-7">

        <!-- List group -->
        <ul class="list-group list-group-lg list-group-flush-y list-group-flush-x mb-7 p-2 checkout-items">
          <li class="list-group-item ml-2" *ngFor = "let item of shopping_items; let i = index">
            <p class="font-size-xs text-danger cursor mr-3 text-right" (click) = "removeItem(item , i)">
              Remove <i class="fas fa-times"></i>
            </p>
            <div class="row align-items-center">
              <div class="col-4">

                <!-- Image -->
                <img [src]="item.img" [alt]="item.title" class="img-fluid">

              </div>
              <div class="col">

                <!-- Title -->
                  <p class="mb-4 font-size-sm font-weight-bold">
                    <span class="text-body">{{item.title}}</span> <br>
                    <ng-template [ngIf] = "item.isSale" [ngIfElse] = "elseBlock">
                      <span class="font-weight-bold text-muted text-decoration-line-through">${{item.current_price | number: '1.2'}}</span>
                      <span class="ml-1 font-size-h6 font-weight-bolder text-primary">${{item.sale_price | number: '1.2'}}</span>
                    </ng-template>
                    <ng-template #elseBlock>
                      <span class="text-muted">${{item.current_price | number: '1.2'}}</span>
                    </ng-template>
                  </p>

                  <div class="row">
    
                      <!-- Text -->
                      <div class="font-size-sm text-muted">
                        <label *ngIf = "item.size" class="mb-0">Size: {{item.size}}</label> <br>
                        Color: {{item.color}} <br>
                      </div>
    
                  </div>
                  <div class="row">

                    <i class="fas fa-minus m-2 cursor" (click) = "changeAmount(item,i,'minus')"></i>
                    <span>{{item.amount}}</span>
                    <i class="fas fa-plus m-2 cursor" (click) = "changeAmount(item,i,'plus')"></i>
    
                  </div>

              </div>
            </div>
          </li>
        </ul>

        <!-- Card -->
        <div class="card mb-9 bg-light">
          <div class="card-body">
            <ul class="list-group list-group-sm list-group-flush-y list-group-flush-x">
              <li class="list-group-item d-flex">
                <span>Subtotal</span> <span class="ml-auto font-size-sm">${{subtotal | number:'1.2'}}</span>
              </li>
              <li class="list-group-item d-flex">
                <span>Tax</span> <span class="ml-auto font-size-sm">${{tax | number:'1.2'}}</span>
              </li>
              <li class="list-group-item d-flex">
                <span>Shipping</span> <span class="ml-auto font-size-sm">${{payment_form.value.shipping_details.price | number:'1.2'}}</span>
              </li>
              <li class="list-group-item d-flex font-size-lg font-weight-bold">
                <span>Total</span> <span class="ml-auto">${{total | number:'1.2'}}</span>
              </li>
            </ul>
          </div>
        </div>

        <!-- Disclaimer -->
        <p class="mb-7 font-size-xs text-gray-500">
          Your personal data will be used to process your order, support
          your experience throughout this website, and for other purposes
          described in our privacy policy.
        </p>

        <!-- Button -->
        <button class="btn btn-block btn-dark" (click) = "checkout()">
          Place Order
        </button>

      </div>
    </div>
  </div>

  <ng-template #elseBlock>
    <div class="py-12" *ngIf = "!payment_complete">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center text-muted">

            <!-- Heading -->
            <h1 style="font-size: 5em"><i class="fas fa-shopping-cart"></i></h1>
            <h2 class="mb-5">Your shopping cart is empty</h2>

            <!-- Text -->
            <p class="mb-7 text-gray-500">
              Once you have added items to your shopping cart, you can check out from here. 
            </p>

          </div>
        </div>
      </div>
    </div>

    <div class="py-12" *ngIf = "payment_complete">
      <div class="container text-center">
        <h1 style="font-size: 3em;">Thanks for your order!</h1>
        <p class="mb-2">You order has been placed, and a translator will start work shortly...</p>

        <i class="fas fa-boxes my-5" style="font-size: 2em;"></i>

        <div class="my-2 text-left table-responsive shadow-sm p-3 mb-5 bg-white col-6 container">
          <table class="table table-borderless table-hover">
            <tbody>
              <tr>
                <td>
                  <strong>EMAIL ADDRESS: </strong>
                </td>
                <td>
                  {{payment_form.value.email}}
                </td>
              </tr>

              <tr>
                <td>
                  <strong>ORDER NUMBER: </strong>
                </td>
                <td>
                  {{order_id}}
                </td>
              </tr>

              <tr>
                <td>
                  <strong>TOTAL: </strong>
                </td>
                <td>
                  <span>${{order_total | number:'1.2'}} USD</span>
                </td>
              </tr>
        
              <tr>
                <td>
                  <strong>SHIPPING TO: </strong>
                </td>
                <td>
                  <span>
                    {{payment_form.value.address1}} <br>
                    {{payment_form.value.city}} {{payment_form.value.state}} , {{payment_form.value.zip}} <br>
                    {{payment_form.value.country}}
                  </span>
                </td>
              </tr>
            </tbody>
          
          </table>
        </div>

        <ng-template [ngIf] = "current_user" [ngIfElse] = "elseBlock">
          <button class="btn btn-dark my-5" [routerLink] = "['/user-profile']">
            View order
          </button>
        </ng-template>

        <ng-template #elseBlock> 
          <button class="btn btn-dark my-5" [routerLink] = "['/']">
            Home page
          </button>
        </ng-template>
      </div>
    </div>
  </ng-template>


