<nav class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- Breadcrumb -->
          <ol class="breadcrumb mb-0 font-size-xs text-gray-400">
            <li class="breadcrumb-item">
              <a class="text-gray-400" href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a class="text-gray-400" href="shopping-cart.html">Shopping Cart</a>
            </li>
            <li class="breadcrumb-item active">
              Checkout
            </li>
          </ol>

        </div>
      </div>
    </div>
</nav>

<div class="container pt-7 pb-12">
    <div class="row">
      <div class="col-12 text-center">

        <!-- Heading -->
        <h3 class="mb-4">Checkout</h3>

        <!-- Subheading -->
        <p class="mb-10">
          Already have an account? 
          <label class="font-weight-bold text-reset cursor link-item" data-toggle="tab" data-toggle="modal" data-target="#loginModal">Click here to login</label>
        </p>

      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-7">

        <!-- Form -->
        <form [formGroup] = "payment_form">
          <!-- Heading -->
          <h6 class="mb-7">Billing Details</h6>

          <!-- Billing details -->
          <div class="row mb-9">
            <div class="col-12 col-md-6">

              <!-- First Name -->
              <div class="form-group">
                <label for="checkoutBillingFirstName">
                  First Name <small class="text-danger">*</small>
                </label>
                <input 
                  class="form-control form-control-sm" 
                  type="text" 
                  placeholder="First Name" 
                  formControlName = "first_name"
                  [ngClass] = "classes('first_name')"
                >
                <small class="text-danger ml-2" *ngIf = "displayError('first_name')">First name is required</small>
              </div>

            </div>
            <div class="col-12 col-md-6">

              <!-- Last Name -->
              <div class="form-group">
                <label for="checkoutBillingLastName">
                  Last Name <small class="text-danger">*</small>
                </label>
                <input 
                  class="form-control form-control-sm" 
                  type="text" 
                  placeholder="Last Name"
                  formControlName = "last_name" 
                  [ngClass] = "classes('last_name')"
                >
              </div>
              <small class="text-danger ml-2" *ngIf = "displayError('last_name')">Last name is required</small>

            </div>
            <div class="col-12">

              <!-- Email -->
              <div class="form-group">
                <label for="checkoutBillingEmail">
                  Email <small class="text-danger">*</small></label>
                <input 
                  class="form-control form-control-sm" 
                  type="email" 
                  placeholder="Email"
                  formControlName = "email" 
                  [ngClass] = "classes('email')"
                >
                <div *ngIf = "displayError('email')">
                  <ng-template [ngIf] = "formControl('email').errors?.required" [ngIfElse] = "elseBlock">
                    <small class="text-danger ml-2">Email is required</small>
                  </ng-template>
                  <ng-template #elseBlock>
                    <small class="text-danger ml-2">Invalid Email</small>
                  </ng-template>
                </div>
              </div>

            </div>
            <div class="col-12">

              <!-- Company Name -->
              <div class="form-group">
                <label for="checkoutBillingCompany">
                  Company name
                </label>
                <input 
                  class="form-control form-control-sm" 
                  type="text" 
                  placeholder="Company name (optional)"
                  formControlName = "company_name"
                >
              </div>

            </div>
            <div class="col-12">

              <!-- Country -->
              <div class="form-group">
                <label for="checkoutBillingCountry">
                  Country <small class="text-danger">*</small>
                </label>
                <input 
                  class="form-control form-control-sm" 
                  type="text" 
                  placeholder="Country" 
                  formControlName = "country"
                  [ngClass] = "classes('country')"
                >
                <small class="text-danger ml-2" *ngIf = "displayError('country')">Country is required</small>
              </div>

            </div>
            <div class="col-12">

              <!-- Address Line 1 -->
              <div class="form-group">
                <label for="checkoutBillingAddress">
                  Address Line 1 <small class="text-danger">*</small>
                </label>
                <input 
                  class="form-control form-control-sm" 
                  type="text" 
                  placeholder="Address Line 1" 
                  formControlName = "address1"
                  [ngClass] = "classes('address1')"
                >
                <small class="text-danger ml-2" *ngIf = "displayError('address1')">Address is required</small>
              </div>

            </div>
            <div class="col-12">

              <!-- Address Line 2 -->
              <div class="form-group">
                <label for="checkoutBillingAddressTwo">
                  Address Line 2
                </label>
                <input 
                  class="form-control form-control-sm" 
                  type="text" 
                  placeholder="Address Line 2 (optional)"
                >
              </div>

            </div>
            <div class="col-12 col-md-6">

              <!-- Town / City -->
              <div class="form-group">
                <label for="checkoutBillingTown">
                  Town / City <small class="text-danger">*</small>
                </label>
                <input 
                  class="form-control form-control-sm" 
                  type="text" 
                  placeholder="Town / City"
                  formControlName = "town_city" 
                  [ngClass] = "classes('town_city')"
                >
                <small class="text-danger ml-2" *ngIf="displayError('town_city')">Town / City is required</small>
              </div>

            </div>
            <div class="col-12 col-md-6">

              <!-- ZIP / Postcode -->
              <div class="form-group">
                <label for="checkoutBillingZIP">
                  ZIP / Postcode <small class="text-danger">*</small>
                </label>
                <input 
                  class="form-control form-control-sm" 
                  type="text" 
                  placeholder="ZIP / Postcode" 
                  formControlName = "zip"
                  [ngClass] = "classes('zip')"
                >
                <small class="text-danger ml-2" *ngIf = "displayError('zip')">Zip / Postcode is required</small>
              </div>

            </div>
            <div class="col-12">

              <!-- Mobile Phone -->
              <div class="form-group mb-0">
                <label for="checkoutBillingPhone">
                  Mobile Phone <small class="text-danger">*</small>
                </label>
                <input 
                  class="form-control form-control-sm" 
                  type="tel" 
                  placeholder="Mobile Phone"
                  formControlName = "mobile_phone"
                  [ngClass] = "classes('mobile_phone')"
                >
                <div *ngIf = "displayError('mobile_phone')">
                  <ng-template [ngIf] = "formControl('mobile_phone').errors?.required" [ngIfElse] = "elseBlock">
                    <small class="text-danger ml-2">Mobile phone is required</small>
                  </ng-template>
                  <ng-template #elseBlock>
                    <small class="text-danger ml-2">Invalid mobile phone</small>
                  </ng-template>
                </div>
              </div>

            </div>
          </div>

          <!-- Heading -->
          <h6 class="mb-7">Shipping Details</h6>

          <!-- Shipping details -->
          <div class="table-responsive mb-6">
            <table class="table table-bordered table-sm table-hover mb-0">
              <tbody>
                <tr *ngFor = "let shipping of shipping_details ; let i = index">
                  <td>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" name="shipping" id={{shipping.type}} (click) = "select_shipping(i)">
                      <label class="custom-control-label text-body text-nowrap" for={{shipping.type}}>
                        {{shipping.type}}
                      </label>
                    </div>
                  </td>
                  <td>{{shipping.detail}}</td>
                  <td>${{shipping.price}}.00</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Notes -->
          <textarea 
            class="form-control form-control-sm mb-9 mb-md-0 font-size-xs" 
            rows="5" 
            placeholder="Order Notes (optional)"
            formControlName = "order_notes"
          ></textarea>

        </form>

      </div>

      <div class="col-12 col-md-5 col-lg-4 offset-lg-1 ">

        <!-- Heading -->
        <h6 class="mb-7">Order Items ({{shopping_items.length}})</h6>

        <!-- Divider -->
        <hr class="my-7">

        <!-- List group -->
        <ul class="list-group list-group-lg list-group-flush-y list-group-flush-x mb-7 p-2 checkout-items">
          <li class="list-group-item ml-2" *ngFor = "let item of shopping_items">
            <div class="row align-items-center">
              <div class="col-4">

                <!-- Image -->
                <a href="product.html">
                  <img src={{item.img}} alt={{item.title}} class="img-fluid">
                </a>

              </div>
              <div class="col">

                <!-- Title -->
                <p class="mb-4 font-size-sm font-weight-bold">
                  <a class="text-body" href="product.html">{{item.title}}</a> <br>
                  <span class="text-muted">${{item.price | number:"1.2"}}</span>
                </p>

                <!-- Text -->
                <div class="font-size-sm text-muted">
                  Size: {{item.size}} <br>
                  Color: {{item.color}} <br>
                </div>

                <div class="font-size-sm text-muted">
                  Amount: {{item.amount}}
                </div>

              </div>
            </div>
          </li>
        </ul>

        <!-- Card -->
        <div class="card mb-9 bg-light">
          <div class="card-body">
            <ul class="list-group list-group-sm list-group-flush-y list-group-flush-x">
              <li class="list-group-item d-flex">
                <span>Subtotal</span> <span class="ml-auto font-size-sm">${{subtotal | number:'1.2'}}</span>
              </li>
              <li class="list-group-item d-flex">
                <span>Tax</span> <span class="ml-auto font-size-sm">${{tax | number:'1.2'}}</span>
              </li>
              <li class="list-group-item d-flex">
                <span>Shipping</span> <span class="ml-auto font-size-sm">${{payment_form.value.shipping_details.price}}.00</span>
              </li>
              <li class="list-group-item d-flex font-size-lg font-weight-bold">
                <span>Total</span> <span class="ml-auto">${{total | number:'1.2'}}</span>
              </li>
            </ul>
          </div>
        </div>

        <!-- Disclaimer -->
        <p class="mb-7 font-size-xs text-gray-500">
          Your personal data will be used to process your order, support
          your experience throughout this website, and for other purposes
          described in our privacy policy.
        </p>

        <!-- Button -->
        <button class="btn btn-block btn-dark">
          Place Order
        </button>

      </div>
    </div>
  </div>
