<div class="modal fade show" id="loginModal" tabindex="-1" role="dialog" aria-modal="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button class="close close-absolute" id="closeLoginAndRegisterButton" type="button" data-dismiss="modal" aria-label="Close" (click) = "resetAllForm()">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body p-5">
          <ul class="nav list-inline" role="tablist">
            <li class="list-inline-item">
                <a class="nav-link nav-link-lg active" data-toggle="tab" href="#loginModalTabLogin" role="tab" id="loginModalLinkLogin" aria-controls="loginModalTabLogin" aria-selected="true" (click) = "resetAllForm()">Login</a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link nav-link-lg" data-toggle="tab" href="#loginModalTabRegister" role="tab" id="loginModalLinkRegister" aria-controls="loginModalTabRegister" aria-selected="false" (click) = "resetAllForm()">Register</a>
            </li>
          </ul>
          <hr class="mb-3">
          <div class="tab-content">
            <div class="tab-pane fade px-3 active show" id="loginModalTabLogin" role="tabpanel" aria-labelledby="loginModalLinkLogin">
                <!-- form -->
              <div class="alert alert-danger animate__animated animate__backInDown" role="alert" *ngIf = "!!invalid_login || login_submit_inValid" style="animation-duration: 0.6s">
                <i class="fas fa-exclamation-triangle"></i> Please correct all the fields marked in red. 
              </div>
              <form [formGroup] = "loginForm">
                <div class="form-group">
                  <label class="form-label">Email *</label>
                  <input class="form-control" type="text" formControlName = "email" [class.is-invalid] = "displayError('email' , 'Login') || !!invalid_login">
                  <small class="text-danger" *ngIf = "!!invalid_login">{{invalid_login}}</small>
                  <div *ngIf = "displayError('email' , 'Login')">
                    <ng-template [ngIf] = "getControl('email' , 'Login').errors?.required" [ngIfElse] = "elseBlock">
                      <small class="text-danger">Email is required</small>
                    </ng-template>
                    <ng-template #elseBlock>
                      <small class="text-danger">Invalid email</small>
                    </ng-template>
                  </div>
                </div>

                <div class="form-group">
                  <label class="form-label">Password *</label>
                  <input class="form-control" type="password" formControlName = "password" [class.is-invalid] = "displayError('password' , 'Login') || !!invalid_login">
                  <small class="text-danger" *ngIf = "!!invalid_login">{{invalid_login}}</small>
                  <small class="text-danger" *ngIf = "displayError('password', 'Login')">Password is required</small>
                </div>
                
                <div class="form-group">
                    <button class="btn btn-block btn-outline-dark" type="submit" (click) = "login()">
                      <i class="fa fa-sign-in-alt mr-2"></i> Log in
                    </button>
                </div>
              </form>
            </div>
            <div class="tab-pane fade px-3" id="loginModalTabRegister" role="tabpanel" aria-labelledby="loginModalLinkRegister">
              <div class="alert alert-success animate__animated animate__backInDown" role="alert" *ngIf = "register_success" style="animation-duration: 0.6s">
                <i class="fas fa-check"></i> Registration successful. 
              </div>
              <div class="alert alert-danger animate__animated animate__backInDown" role="alert" *ngIf = "register_submit_inValid" style="animation-duration: 0.6s">
                <i class="fas fa-exclamation-triangle"></i> Please correct all the fields marked in red. 
              </div>
              <!-- form -->
              <form [formGroup] = "registerForm">

                <div class="form-row mb-4">
                  <div class="col">
                    <label class="form-label">First name *</label>
                    <input class="form-control" type="text" formControlName = "first_name" [ngClass] = "classes('first_name' , 'Register')">
                    <small class="text-danger" *ngIf = "displayError('first_name' , 'Register')">First name is required</small>
                  </div>
                  <div class="col">
                    <label class="form-label">Last name *</label>
                    <input class="form-control" type="text" [ngClass] = "classes('last_name' , 'Register')" formControlName = "last_name">
                    <small class="text-danger" *ngIf = "displayError('last_name' , 'Register')">Last name is required</small>
                  </div>
                </div>

                <div class="form-group">
                  <label class="form-label" >Email *</label>
                  <input class="form-control" type="text" formControlName = "email" [ngClass] = "emailClasses()">
                  <small class="text-danger" *ngIf = "!!email_unique_error">{{email_unique_error}}</small>
                  <div *ngIf = "displayError('email' , 'Register')">
                    <ng-template [ngIf] = "getControl('email' , 'Register').errors?.required" [ngIfElse] = "elseBlock">
                      <small class="text-danger">Email is required</small>
                    </ng-template>
                    <ng-template #elseBlock>
                      <small class="text-danger">Invalid email</small>
                    </ng-template>
                  </div>
                </div>

                <div class="form-group">
                  <label class="form-label" >Password *</label>
                  <input class="form-control" type="password" formControlName = "password" [ngClass] = "classes('password' , 'Register')">
                  <div *ngIf = "displayError('password' , 'Register')">
                    <ng-template [ngIf] = "getControl('password', 'Register').errors?.required" [ngIfElse] = "elseBlock"> 
                      <small class="text-danger">Password is required.</small>
                    </ng-template>
                    <ng-template #elseBlock>
                      <small class="text-danger">Password must be at least minimum 5 characters.</small>
                    </ng-template>
                  </div>
                </div>


                <div class="form-group mb-8">
                  <label>Gender</label>
                  <div class="btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-sm btn-outline-border">
                      <input type="radio" checked (click) = "setGender('Male')"> Male
                    </label>
                    <label class="btn btn-sm btn-outline-border ml-2">
                      <input type="radio" (click) = "setGender('Female')"> Female
                    </label>
                  </div>
                </div>

                <div class="form-group text-center">
                    <button class="btn btn-block btn-outline-dark" type="submit" (click) = "register()">
                        <i class="far fa-user mr-2"></i>Register                       
                    </button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>