<div class="container" *ngIf = "current_user">
    <div class="row">
      <div class="col-12">

        <!-- Breadcrumb -->
        <ol class="breadcrumb mb-0 font-size-xs text-gray-400">
          <li class="breadcrumb-item">
            <a class="text-gray-400" [routerLink] = "['/']">Home</a>
          </li>
          <li class="breadcrumb-item active">
            My Account
          </li>
        </ol>

      </div>
    </div>
</div>


<div class="container my-10" *ngIf = "current_user">
    <div class="row">
      <div class="col-12 text-center">

        <!-- Heading -->
        <h3 class="mb-10">My Account</h3>

      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3">

        <!-- Nav -->
        <nav class="mb-10 mb-md-0">
          <div class="list-group list-group-sm list-group-strong list-group-flush-x">
            <span 
              *ngFor = "let title of navTitle"
              class="list-group-item list-group-item-action dropright-toggle cursor" 
              [class.active] = "title.active"
              (click) = "selectContent(title.value)"
            >
              {{title.value}}
            </span>
            <span class="list-group-item list-group-item-action dropright-toggle cursor" (click) = "logOut()">
              Logout
            </span>
          </div>
        </nav>

      </div>

      <div class="col-12 col-md-6 col-lg-8 offset-lg-1">
        <!-- address -->
        <app-address *ngIf = 'address'></app-address>

        <!-- personal info -->
        <app-personal-info *ngIf = 'personal_info'></app-personal-info>

        <!-- widhlist -->
        <app-widhlist *ngIf = 'widhlist'></app-widhlist>

        <!-- order -->
        <app-order *ngIf = 'order'></app-order>
      </div>


    </div>
  </div>

<ng-template [ngIf] = "!current_user">
  <app-page-not-found></app-page-not-found>
</ng-template>
