<div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Breadcrumb -->
        <ol class="breadcrumb mb-0 font-size-xs text-gray-400">
          <li class="breadcrumb-item">
            <a class="text-gray-400" href="index.html">Home</a>
          </li>
          <li class="breadcrumb-item active">
            My Account
          </li>
        </ol>

      </div>
    </div>
</div>


<div class="container">
    <div class="row">
      <div class="col-12 text-center">

        <!-- Heading -->
        <h3 class="mb-10">My Account</h3>

      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3">

        <!-- Nav -->
        <nav class="mb-10 mb-md-0">
          <div class="list-group list-group-sm list-group-strong list-group-flush-x">
            <a class="list-group-item list-group-item-action dropright-toggle active" href="#userOrder">
              Orders
            </a>
            <a class="list-group-item list-group-item-action dropright-toggle " href="#userWidhlist">
              Widhlist
            </a>
            <a class="list-group-item list-group-item-action dropright-toggle " href="account-personal-info.html">
              Personal Info
            </a>
            <a class="list-group-item list-group-item-action dropright-toggle " href="account-address.html">
              Addresses
            </a>
            <a class="list-group-item list-group-item-action dropright-toggle " href="account-payment.html">
              Payment Methods
            </a>
            <a class="list-group-item list-group-item-action dropright-toggle" href="#!">
              Logout
            </a>
          </div>
        </nav>

      </div>

      <!-- order  --> 
        <div class="col-12 col-md-9 col-lg-8 offset-lg-1 d-none" id="userShow">

            <!-- Order -->
            <div class="card card-lg mb-5 border">
              <div class="card-body pb-0">

                <!-- Info -->
                <div class="card card-sm">
                  <div class="card-body bg-light">
                    <div class="row">
                      <div class="col-6 col-lg-3">

                        <!-- Heading -->
                        <h6 class="heading-xxxs text-muted">Order No:</h6>

                        <!-- Text -->
                        <p class="mb-lg-0 font-size-sm font-weight-bold">
                          673290789
                        </p>

                      </div>
                      <div class="col-6 col-lg-3">

                        <!-- Heading -->
                        <h6 class="heading-xxxs text-muted">Shipped date:</h6>

                        <!-- Text -->
                        <p class="mb-lg-0 font-size-sm font-weight-bold">
                          <time datetime="2019-10-01">
                            01 Oct, 2019
                          </time>
                        </p>

                      </div>
                      <div class="col-6 col-lg-3">

                        <!-- Heading -->
                        <h6 class="heading-xxxs text-muted">Status:</h6>

                        <!-- Text -->
                        <p class="mb-0 font-size-sm font-weight-bold">
                          Awating Delivery
                        </p>

                      </div>
                      <div class="col-6 col-lg-3">

                        <!-- Heading -->
                        <h6 class="heading-xxxs text-muted">Order Amount:</h6>

                        <!-- Text -->
                        <p class="mb-0 font-size-sm font-weight-bold">
                          $259.00
                        </p>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="card-footer">
                <div class="row align-items-center">
                  <div class="col-12 col-lg-6">
                    <div class="form-row mb-4 mb-lg-0">
                      <div class="col-3">

                        <!-- Image -->
                        <div class="embed-responsive embed-responsive-1by1 bg-cover" style="background-image: url(assets/img/products/product-5.jpg);"></div>

                      </div>
                      <div class="col-3">

                        <!-- Image -->
                        <div class="embed-responsive embed-responsive-1by1 bg-cover" style="background-image: url(assets/img/products/product-112.jpg);"></div>

                      </div>
                      <div class="col-3">

                        <!-- Image -->
                        <div class="embed-responsive embed-responsive-1by1 bg-cover" style="background-image: url(assets/img/products/product-7.jpg);"></div>

                      </div>
                      <div class="col-3">

                        <!-- Image -->
                        <div class="embed-responsive embed-responsive-1by1 bg-light">
                          <a class="embed-responsive-item embed-responsive-item-text text-reset" href="#!">
                            <div class="font-size-xxs font-weight-bold">
                              +2 <br> more
                            </div>
                          </a>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6">
                    <div class="form-row">
                      <div class="col-6">

                        <!-- Button -->
                        <a class="btn btn-sm btn-block btn-outline-dark" href="account-order.html">
                          Order Details
                        </a>

                      </div>
                      <div class="col-6">

                        <!-- Button -->
                        <a class="btn btn-sm btn-block btn-outline-dark" href="#!">
                          Track order
                        </a>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <!-- Pagination -->
            <nav class="d-flex justify-content-center justify-content-md-end mt-10">
              <ul class="pagination pagination-sm text-gray-400">
                <li class="page-item">
                  <a class="page-link page-link-arrow" href="#">
                    <i class="fa fa-caret-left"></i>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">5</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">6</a>
                </li>
                <li class="page-item">
                  <a class="page-link page-link-arrow" href="#">
                    <i class="fa fa-caret-right"></i>
                  </a>
                </li>
              </ul>
            </nav>

          </div>

      <!-- widhlist -->

      <div class="col-12 col-md-9 col-lg-8 offset-lg-1 d-none" id="userWidhlist">

        <!-- Products -->
        <div class="row">

          <!-- Item -->
          <div class="col-6 col-md-4">
            <div class="card mb-7">

              <!-- Image -->
              <div class="card-img">

                <!-- Action -->
                <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right">
                  <i class="fe fe-x"></i>
                </button>

                <!-- Button -->
                <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
                  <i class="fe fe-eye mr-2 mb-1"></i> Quick View
                </button>

                <!-- Image -->
                <img class="card-img-top" src="assets/img/products/product-6.jpg" alt="...">

              </div>

              <!-- Body -->
              <div class="card-body font-weight-bold text-center">
                <a class="text-body" href="product.html">Cotton floral print Dress</a> <br>
                <span class="text-muted">$40.00</span>
              </div>

            </div>
          </div>

          <!-- Item -->
          <div class="col-6 col-md-4">
            <div class="card mb-7">

              <!-- Image -->
              <div class="card-img">

                <!-- Action -->
                <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right">
                  <i class="fe fe-x"></i>
                </button>

                <!-- Badge -->
                <span class="badge badge-dark card-badge card-badge-left text-uppercase">
                  Sale
                </span>

                <!-- Button -->
                <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
                  <i class="fe fe-eye mr-2 mb-1"></i> Quick View
                </button>

                <!-- Image -->
                <img class="card-img-top" src="assets/img/products/product-10.jpg" alt="...">

              </div>

              <!-- Body -->
              <div class="card-body font-weight-bold text-center">
                <a class="text-body" href="product.html">Suede cross body Bag</a> <br>
                <span>
                  <span class="font-size-xs text-gray-350 text-decoration-line-through">$85.00</span>
                  <span class="text-primary">$49.00</span>
                </span>
              </div>

            </div>
          </div>

          <!-- Item -->
          <div class="col-6 col-md-4">
            <div class="card mb-7">

              <!-- Image -->
              <div class="card-img">

                <!-- Action -->
                <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right">
                  <i class="fe fe-x"></i>
                </button>

                <!-- Button -->
                <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
                  <i class="fe fe-eye mr-2 mb-1"></i> Quick View
                </button>

                <!-- Image -->
                <img class="card-img-top" src="assets/img/products/product-32.jpg" alt="...">

              </div>

              <!-- Body -->
              <div class="card-body font-weight-bold text-center">
                <a class="text-reset" href="product.html">Cotton leaf print Shirt</a>
                <span class="text-muted">$65.00</span>
              </div>

            </div>
          </div>

          <!-- Item -->
          <div class="col-6 col-md-4">
            <div class="card mb-7">

              <!-- Image -->
              <div class="card-img">

                <!-- Action -->
                <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right">
                  <i class="fe fe-x"></i>
                </button>

                <!-- Button -->
                <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
                  <i class="fe fe-eye mr-2 mb-1"></i> Quick View
                </button>

                <!-- Image -->
                <img class="card-img-top" src="assets/img/products/product-7.jpg" alt="...">

              </div>

              <!-- Body -->
              <div class="card-body font-weight-bold text-center">
                <a class="text-body" href="product.html">Leather Sneakers</a> <br>
                <a class="text-primary" href="#">Select Options</a>
              </div>

            </div>
          </div>

          <!-- Item -->
          <div class="col-6 col-md-4">
            <div class="card mb-7">

              <!-- Image -->
              <div class="card-img">

                <!-- Action -->
                <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right">
                  <i class="fe fe-x"></i>
                </button>

                <!-- Button -->
                <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
                  <i class="fe fe-eye mr-2 mb-1"></i> Quick View
                </button>

                <!-- Image -->
                <img class="card-img-top" src="assets/img/products/product-11.jpg" alt="...">

              </div>

              <!-- Body -->
              <div class="card-body font-weight-bold text-center">
                <a class="text-body" href="product.html">Another fine dress</a> <br>
                <span class="text-muted">$99.00</span>
              </div>

            </div>
          </div>

        </div>

        <!-- Pagination -->
        <nav class="d-flex justify-content-center justify-content-md-end">
          <ul class="pagination pagination-sm text-gray-400">
            <li class="page-item">
              <a class="page-link page-link-arrow" href="#">
                <i class="fa fa-caret-left"></i>
              </a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">5</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">6</a>
            </li>
            <li class="page-item">
              <a class="page-link page-link-arrow" href="#">
                <i class="fa fa-caret-right"></i>
              </a>
            </li>
          </ul>
        </nav>

      </div>

      <!-- personal info -->
      <div class="col-12 col-md-9 col-lg-8 offset-lg-1 d-none">

        <!-- Form -->
        <div>
          <div class="row">
            <div class="col-12 col-md-6">

              <!-- Email -->
              <div class="form-group">
                <label for="accountFirstName">
                  First Name *
                </label>
                <input class="form-control form-control-sm" id="accountFirstName" type="text" placeholder="First Name *" value="Daniel" required="">
              </div>

            </div>
            <div class="col-12 col-md-6">

              <!-- Email -->
              <div class="form-group">
                <label for="accountLastName">
                  Last Name *
                </label>
                <input class="form-control form-control-sm" id="accountLastName" type="text" placeholder="Last Name *" value="Robinson" required="">
              </div>

            </div>
            <div class="col-12">

              <!-- Email -->
              <div class="form-group">
                <label for="accountEmail">
                  Email Address *
                </label>
                <input class="form-control form-control-sm" id="accountEmail" type="email" placeholder="Email Address *" value="user@email.com" required="">
              </div>

            </div>
            <div class="col-12 col-md-6">

              <!-- Password -->
              <div class="form-group">
                <label for="accountPassword">
                  Current Password *
                </label>
                <input class="form-control form-control-sm" id="accountPassword" type="password" placeholder="Current Password *" required="">
              </div>

            </div>
            <div class="col-12 col-md-6">

              <!-- Password -->
              <div class="form-group">
                <label for="AccountNewPassword">
                  New Password *
                </label>
                <input class="form-control form-control-sm" id="AccountNewPassword" type="password" placeholder="New Password *" required="">
              </div>

            </div>
            <div class="col-12 col-lg-6">

              <!-- Birthday -->
              <div class="form-group">

                <!-- Label -->
                <label>Date of Birth</label>

                <!-- Inputs -->
                <div class="form-row">
                  <div class="col-auto">

                    <!-- Date -->
                    <label class="sr-only" for="accountDate">
                      Date
                    </label>
                    <select class="custom-select custom-select-sm" id="accountDate">
                      <option>10</option>
                      <option>11</option>
                      <option selected="">12</option>
                    </select>

                  </div>
                  <div class="col">

                    <!-- Date -->
                    <label class="sr-only" for="accountMonth">
                      Month
                    </label>
                    <select class="custom-select custom-select-sm" id="accountMonth">
                      <option>January</option>
                      <option selected="">February</option>
                      <option>March</option>
                    </select>

                  </div>
                  <div class="col-auto">

                    <!-- Date -->
                    <label class="sr-only" for="accountYear">
                      Year
                    </label>
                    <select class="custom-select custom-select-sm" id="accountYear">
                      <option>1990</option>
                      <option selected="">1991</option>
                      <option>1992</option>
                    </select>

                  </div>
                </div>

              </div>

            </div>
            <div class="col-12 col-lg-6">

              <!-- Gender -->
              <div class="form-group mb-8">
                <label>Gender</label>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-sm btn-outline-border active">
                    <input type="radio" name="gender" checked=""> Male
                  </label>
                  <label class="btn btn-sm btn-outline-border">
                    <input type="radio" name="gender"> Female
                  </label>
                </div>
              </div>

            </div>
            <div class="col-12">

              <!-- Button -->
              <button class="btn btn-dark" type="submit">Save Changes</button>

            </div>
          </div>
        </div>

      </div>

      <!-- address -->
      <div class="col-12 col-md-9 col-lg-8 offset-lg-1">
        <div class="row">
          <div class="col-12 col-lg-6">

            <!-- Card -->
            <div class="card card-lg bg-light mb-8">
              <div class="card-body">

                <!-- Heading -->
                <h6 class="mb-6">
                  Shipping Address
                </h6>

                <!-- Text -->
                <p class="text-muted mb-0">
                  User name: Daniel Robinson <br>
                  Address: 3997 Raccoon Run <br>
                  State: Kingston <br>
                  Zipcode: 45644 <br>
                  Country: United States <br>
                  Phone number: 6146389574
                </p>

                <!-- Action -->
                <div class="card-action card-action-right">

                  <!-- Button -->
                  <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="modal" data-target="#editUserAddress">
                    <i class="fa fa-pen"></i>
                  </button>

                  <!-- Button -->
                  <button class="btn btn-xs btn-circle btn-white-primary" >
                    <i class="fas fa-times"></i>
                  </button>

                </div>

              </div>
            </div>

          </div>
          
          <div class="col-12">

            <!-- Button -->
            <button class="btn btn-block btn-lg btn-outline-border"  data-toggle="modal" data-target="#editUserPayment">
              Add Address <i class="fas fa-plus ml-3"></i>
            </button>

          </div>
        </div>
      </div>

      <!-- edit address modal  -->
      <div class="modal fade" id="editUserAddress" tabindex="-1" aria-labelledby="editUserAddressLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title mx-auto">Add Address</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-md-9 col-lg-8 offset-lg-1 mx-auto">
                    <!-- Form -->
                    <div>
                      <div class="row">
                        <div class="col-12 col-md-6">
                          <div class="form-group">
                            <label for="firstName">First Name *</label>
                            <input class="form-control" id="firstName" type="text" placeholder="First Name" required="">
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="form-group">
                            <label for="lastName">Last Name *</label>
                            <input class="form-control" id="lastName" type="text" placeholder="Last Name" required="">
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <label for="emailAddress">Email Address *</label>
                            <input class="form-control" id="emailAddress" type="email" placeholder="Email Address" required="">
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <label for="companyName">Company Name</label>
                            <input class="form-control" id="companyName" type="text" placeholder="Company Name" required="">
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <label for="country">Country *</label>
                            <input class="form-control" id="country" type="text" placeholder="Country" required="">
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <label for="addressLineOne">Address Line 1 *</label>
                            <input class="form-control" id="addressLineOne" type="text" placeholder="Address Line 1" required="">
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <label for="addressLineTwo">Address Line 2</label>
                            <input class="form-control" id="addressLineTwo" type="text" placeholder="Address Line 2" required="">
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="form-group">
                            <label for="townCity">Town / City *</label>
                            <input class="form-control" id="townCity" type="text" placeholder="Town / City" required="">
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="form-group">
                            <label for="zipPostcode">ZIP / Postcode *</label>
                            <input class="form-control" id="zipPostcode" type="text" placeholder="ZIP / Postcode" required="">
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <label for="mobilePhone">Mobile Phone *</label>
                            <input class="form-control" id="mobilePhone" type="tel" placeholder="Mobile Phone" required="">
                          </div>
                        </div>

                      </div>
        
                      <!-- Button -->
                      <button class="btn btn-dark w-100" type="submit">
                        Add Address
                      </button>
        
                    </div>
        
                  </div>
            </div>
          </div>
        </div>
      </div>

      <!-- edit paymen modal -->

      <div class="modal fade" id="editUserPayment" tabindex="-1" aria-labelledby="editUserPaymentLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title mx-auto">Add Debit / Credit Card</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-md-9 col-lg-8 offset-lg-1 mx-auto">
        
                    <!-- Form -->
                    <div>
                      <div class="row">
                        <div class="col-12 col-md-6">
                          <div class="form-group">
                            <label for="cardNumber">Card Number *</label>
                            <input class="form-control" id="cardNumber" type="text" placeholder="Card Number" required="">
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="form-group">
                            <label for="nameOnCard">Name on Card *</label>
                            <input class="form-control" id="nameOnCard" type="text" placeholder="Name on Card" required="">
                          </div>
                        </div>
                        <div class="col-12">
        
                          <!-- Label -->
                          <label>
                            Expiry Date *
                          </label>
        
                        </div>
                        <div class="col-12 col-md-4">
                          <div class="form-group">
                            <label class="sr-only" for="paymentMonth">Month</label>
                            <select class="custom-select" id="paymentMonth" required="">
                              <option selected="" disabled="" value="">Month *</option>
                              <option>January</option>
                              <option>February</option>
                              <option>March</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-12 col-md-4">
                          <div class="form-group">
                            <label class="sr-only" for="paymentCardYear">Year</label>
                            <select class="custom-select" id="paymentCardYear" required="">
                              <option selected="" disabled="" value="">Year *</option>
                              <option>2017</option>
                              <option>2018</option>
                              <option>2019</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-12 col-md-4">
                          <div class="form-group">
                            <div class="input-group input-group-merge">
                              <input class="form-control" id="paymentCardCVV" type="text" placeholder="CVV *" required="">
                              <div class="input-group-append">
                                <span class="input-group-text" data-toggle="popover"
                                data-trigger="hover" data-content="The CVV Number on your credit card or debit card is a 3 digit number on VISA, MasterCard and Discover branded credit and debit cards." style="cursor: pointer;">
                                    <i class="far fa-question-circle"></i>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                      </div>
        
                      <!-- Button -->
                      <button class="btn btn-dark w-100" type="submit">
                        Add Card <i class="fas fa-plus ml-3"></i>
                      </button>
        
                    </div>
        
                  </div>
            </div>
            
          </div>
        </div>
      </div>


    </div>
  </div>
