  <!-- size chart -->
  <div class="modal fade show" id="modalSizeChart" tabindex="-1" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">

        <!-- Close -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fas fa-times" aria-hidden="true"></i>
        </button>

        <!-- Header-->
        <div class="modal-header line-height-fixed font-size-lg">
        <strong class="mx-auto">Size Chart</strong>
        </div>

        <!-- Body -->
        <div class="modal-body border-bottom">

        <!-- Header -->
        <div class="d-flex mb-7">

            <!-- Heading -->
            <h5 class="mb-0">Clothing</h5>

            <!-- Toggles -->
            <div class="btn-group btn-group-toggle ml-auto" data-toggle="buttons">
            <label class="btn btn-xxs btn-circle btn-outline-dark font-size-xxxs rounded-0">
                <input type="radio" [checked] = "clothing_unit === 'IN'" (click) = "changeClothingUnit('IN')"> IN
            </label>
            <label class="btn btn-xxs btn-circle btn-outline-dark font-size-xxxs rounded-0 ml-2">
                <input type="radio" [checked] = "clothing_unit === 'CM'" (click) = "changeClothingUnit('CM')"> CM
            </label>
            </div>

        </div>

        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-bordered table-sm table-hover mb-0">
            <thead>
                <tr>
                    <th>Size</th>
                    <th>US</th>
                    <th>Bust</th>
                    <th>Waist</th>
                    <th>Hips</th>
                </tr>
            </thead>
                <tbody>
                    <tr *ngFor = "let size of size_chats['Clothing'][clothing_unit]">
                        <td *ngFor = "let unit of size">{{unit}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        </div>

        <!-- Body -->
        <div class="modal-body">

        <!-- Header -->
        <div class="d-flex mb-7">

            <!-- Heading -->
            <h5 class="mb-0">Shoes</h5>

            <!-- Toggles -->
            <div class="btn-group btn-group-toggle ml-auto" data-toggle="buttons">
            <label class="btn btn-xxs btn-circle btn-outline-dark font-size-xxxs rounded-0 active">
                <input type="radio" [checked] = "shoes_unit === 'IN'" (click) = "changeShoesUnit('IN')"> IN
            </label>
            <label class="btn btn-xxs btn-circle btn-outline-dark font-size-xxxs rounded-0 ml-2">
                <input type="radio" [checked] = "shoes_unit === 'CM'" (click) = "changeShoesUnit('CM')"> CM
            </label>
            </div>

        </div>

        <!-- Tables -->
        <div class="row">
            <div class="col-12 col-lg-6">

            <!-- Table -->
            <div class="table-responsive">
                <table class="table table-bordered table-sm table-hover mb-lg-0">
                <thead>
                    <tr>
                        <th>Size</th>
                        <th>US</th>
                        <th>Foot Length</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let size of size_chats['Shoes'][shoes_unit][0]">
                        <td *ngFor = "let unit of size">{{unit}}</td>
                    </tr> 
                </tbody>
                </table>
            </div>

            </div>
            <div class="col-12 col-lg-6">

            <!-- Table -->
            <div class="table-responsive">
                <table class="table table-bordered table-sm table-hover mb-0">
                <thead>
                    <tr>
                        <th>Size</th>
                        <th>US</th>
                        <th>Foot Length</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr *ngFor = "let size of size_chats['Shoes'][shoes_unit][1]">
                            <td *ngFor = "let unit of size">{{unit}}</td>
                        </tr> 
                    </tbody>
                </table>
            </div>

            </div>
        </div>

        </div>

    </div>

    </div>
</div>