.order-items{
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

.order-items::-webkit-scrollbar {
    background: transparent; 
    width: 10px;
}
/* Optional: show position indicator in red */
.order-items::-webkit-scrollbar-thumb {
    background: #afafaf;
}