<div class="modal fade" id="orderDetailModal" tabindex="-1" aria-labelledby="orderDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="orderDetailModalLabel" *ngIf = "order_detail">Order Id: {{order_detail.order_id}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <div class="container" *ngIf = "order_detail">
                <!-- Order -->
                <div class="card card-lg mb-5 border">
                  <div class="card-body pb-0">
            
                    <!-- Info -->
                    <div class="card card-sm">
                      <div class="card-body bg-light">
                        <div class="row">
                          <div class="col-6 col-lg-3">
            
                            <!-- Heading -->
                            <h6 class="heading-xxxs text-muted">Order No:</h6>
            
                            <!-- Text -->
                            <p class="mb-lg-0 font-size-sm font-weight-bold">
                              {{order_detail.order_id | slice:0:8}}...
                            </p>
            
                          </div>
                          <div class="col-6 col-lg-3">
            
                            <!-- Heading -->
                            <h6 class="heading-xxxs text-muted">Order date:</h6>
            
                            <!-- Text -->
                            <p class="mb-lg-0 font-size-sm font-weight-bold">
                              <time datetime="2019-10-01">
                                {{order_detail.order_date}}
                              </time>
                            </p>
            
                          </div>
                          <div class="col-5 col-lg-3">
            
                            <h6 class="heading-xxxs text-muted">Shipping date:</h6>

                            <!-- Text -->
                            <p class="mb-lg-0 font-size-sm font-weight-bold">
                                <time datetime="2019-10-01">
                                {{order_detail.shipping_date[0]}} - <br>{{order_detail.shipping_date[1]}}
                                </time>
                            </p>
            
                          </div>
                          <div class="col-7 col-lg-3">
            
                            <!-- Heading -->
                            <h6 class="heading-xxxs text-muted">Order Total:</h6>
            
                            <!-- Text -->
                            <p class="mb-0 font-size-sm font-weight-bold">
                              ${{order_detail.total | number: '1.2'}}
                            </p>
            
                          </div>
                        </div>
                      </div>
                    </div>
            
                  </div>
                  <div class="card-footer">
            
                    <!-- Heading -->
                    <h6 class="mb-7">Order Items ({{order_detail.shopping_items.length}})</h6>
            
                    <!-- Divider -->
                    <hr class="my-5">
            
                    <!-- List group -->
                    <ul class="list-group list-group-lg list-group-flush-y list-group-flush-x order-items">
                      <li class="list-group-item" *ngFor = "let item of order_detail.shopping_items">
                        <div class="row align-items-center">
                          <div class="col-4 col-md-3 col-xl-2">
            
                            <!-- Image -->
                            <img [src]="item.img" class="img-fluid">
            
                          </div>
                          <div class="col">
            
                            <!-- Title -->
                            <p class="mb-4 font-size-sm font-weight-bold">
                              <a class="text-body" href="product.html">{{item.title}} x {{item.amount}}</a> <br>
                              <span class="text-muted">${{item.price | number: '1.2'}}</span>
                            </p>
            
                            <!-- Text -->
                            <div class="font-size-sm text-muted">
                                <label *ngIf = "item.size" class="mb-0">Size: {{item.size}}</label> <br>
                                Color: {{item.color}} <br>
                            </div>
            
                          </div>
                        </div>
                      </li>
                    </ul>
            
                  </div>
                </div>
            
                <!-- Total -->
                <div class="card card-lg mb-5 border">
                  <div class="card-body">
            
                    <!-- Heading -->
                    <h6 class="mb-7">Order Total</h6>
            
                    <!-- List group -->
                    <ul class="list-group list-group-sm list-group-flush-y list-group-flush-x">
                      <li class="list-group-item d-flex">
                        <span>Subtotal</span>
                        <span class="ml-auto">${{order_detail.subtotal | number:'1.2'}}</span>
                      </li>
                      <li class="list-group-item d-flex">
                        <span>Tax</span>
                        <span class="ml-auto">${{order_detail.tax | number:'1.2'}}</span>
                      </li>
                      <li class="list-group-item d-flex">
                        <span>Shipping</span>
                        <span class="ml-auto">${{order_detail.shipping_feed | number: '1.2'}}</span>
                      </li>
                      <li class="list-group-item d-flex font-size-lg font-weight-bold">
                        <span>Total</span>
                        <span class="ml-auto">${{order_detail.total | number:'1.2'}}</span>
                      </li>
                    </ul>
            
                  </div>
                </div>
            
                <!-- Details -->
                <div class="card card-lg border">
                  <div class="card-body">
            
                    <!-- Heading -->
                    <h6 class="mb-7">Shipping Details</h6>
            
                    <!-- Content -->
                    <div class="row mb-4 justify-content-md-center">
                      <div class="col-6 row-cols-2">
            
                        <!-- Heading -->
                        <p class="mb-4 font-weight-bold">
                          Shipping Address:
                        </p>
            
                        <p class="mb-7 ml-2 mb-md-0 text-gray-500">
                            {{order_detail.shipping_address.first_name}} {{order_detail.shipping_address.last_name}}, <br>
                            {{order_detail.shipping_address.address1}} <br>
                            {{order_detail.shipping_address.city}} {{order_detail.shipping_address.state}}, {{order_detail.shipping_address.zip}}, <br>
                            {{order_detail.shipping_address.country}}, <br>
                            {{order_detail.shipping_address.phone}}
                        </p>
            
                      </div>
                      <div class="col-6 col-md-4">
            
                        <!-- Heading -->
                        <p class="mb-4 font-weight-bold">
                          Shipping Method:
                        </p>
            
                        <p class="mb-7 ml-2 text-gray-500">
                            {{order_detail.shipping_method[0]}} <br>
                            ( {{order_detail.shipping_method[1]}} ) 
                        </p>
            
                      </div>
                    </div>

                    <div class="row border-top mt-4 py-2" *ngIf = "order_detail.order_notes">
                        <div class="ml-4">
                            <p class="mb-4 font-weight-bold">
                                Note:
                            </p>
                            <p class="mb-4 ml-4">
                                {{order_detail.order_notes}}
                            </p>
                        </div>
                    </div>
            
                  </div>
                </div>
            
              </div>

        </div>
      </div>
    </div>
  </div>