.list-styled-item::after{
    display:block;
    content: '';
    background: #000;
    width: 0;
    border-bottom: solid 1px #019fb6;  
    transition: width .3s ease-in-out; 
}

.list-styled-item:hover::after{
    width: 100%;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#lblCartCount {
    font-size: 10px;
    background: #f54a44;
    color: #fff;
    padding: 1px 5px;
    vertical-align: top;
    margin-left: -6px; 
}