<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container">

      <!-- Brand -->
      <span class="navbar-brand">
        vShop.
      </span>

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarCollapse">

        <!-- Nav -->
        <ul class="navbar-nav mx-auto">
          <li class="nav-item dropdown hovered cursor">

            <!-- Toggle -->
            <a class="nav-link" [routerLink] = "['/']">Home</a>


          </li>
          <li class="nav-item dropdown position-static cursor">

            <!-- Toggle -->
            <span class="nav-link cursor" data-toggle="dropdown">Catalog</span>

            <!-- Menu -->
            <div class="dropdown-menu w-100">
                <div class="card card-lg bg-light">
                  <div class="card-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-4 col-md" *ngFor = "let catalog_title of catalog.nav_keys">

                          <!-- Heading -->
                          <div class="mb-1 font-weight-bold border-bottom">{{catalog_title}}</div>

                          <!-- Links -->
                          <ul class="list-styled mb-0 font-size-sm shadow-sm p-3 mb-5 bg-white ml-3">
                            <li class="list-styled-item" *ngFor = "let content of catalog.nav_content[catalog_title]">
                              <a class="list-styled-link text-monospace" [routerLink] = "['/catalog']" (click) = "getCatalogs(catalog_title, content)">{{content}}</a>
                            </li>
                          </ul>

                        </div>
                        
                        <div class="d-none d-md-flex flex-column col-md-3">

                          <!-- Card -->
                          <div class="card mb-7 bg-cover bg-white" style="min-height: 150px;">

                            <!-- Background -->
                            <div class="card-bg">
                              <div class="card-bg-img bg-cover" style="background-image: url(https://static.nike.com/a/images/c_limit,w_400,f_auto/t_product_v1/cc5ab342-de8d-4feb-accd-0e3f83f41e06/image.jpg)"></div>
                            </div>

                            <!-- Body -->
                            <div class="card-body my-auto px-7 black_tp_background">
                              <a class="stretched-link font-weight-bold text-white text-monospace" [routerLink] = "['/catalog']" (click) = "getCatalogs('Men', 'Shoes')">
                                Men's Shoes
                              </a>
                            </div>

                          </div>

                          <!-- Card -->
                          <div class="card bg-cover bg-white" style="min-height: 300px;" >

                            <!-- Background -->
                            <div class="card-bg">
                              <div class="card-bg-img bg-cover" style="background-image: url(https://static.nike.com/a/images/c_limit,w_400,f_auto/t_product_v1/1ca1d1e0-5a42-40cb-a885-acc6a38884f3/image.jpg)"></div>
                            </div>

                            <!-- Body -->
                            <div class="card-body my-auto px-7 black_tp_background">
                              <a class="stretched-link font-weight-bold text-white text-monospace" [routerLink] = "['/catalog']" (click) = "getCatalogs('Women', 'Backpacks')">
                                Backpack
                              </a>
                            </div>

                          </div>

                        </div>
                        <div class="d-none d-md-flex flex-column col-md-3 bg-light">

                          <!-- Card -->
                          <div class="card bg-cover" style="min-height: 400px;">

                            <!-- Background -->
                            <div class="card-bg">
                              <div class="card-bg-img bg-cover" style="background-image: url(https://static.nike.com/a/images/c_limit,w_400,f_auto/t_product_v1/i1-083c47f9-1797-4743-9b32-390b9456b0bc/image.jpg)"></div>
                            </div>

                            <!-- Body -->
                            <div class="card-body my-auto text-center black_tp_background ">
                              <a class="stretched-link text-white text-monospace" [routerLink] = "['/catalog']" (click) = "getCatalogs('Men', 'Jackets')">
                                <h6>Woven Floral Jacket</h6>
                              </a>
                            </div>

                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


          </li>
          
          <li class="nav-item hovered cursor">
            <a class="nav-link" [routerLink] = "['/contact']">Contact</a>
          </li>

          <li class="nav-item hovered cursor">
            <a id="loginModalButton" class="nav-link" data-toggle="tab" data-toggle="modal" data-target="#loginModal" *ngIf = "!current_user ; else elseBlock">Login/Register</a>
            <ng-template #elseBlock>
              <span class="nav-link cursor" (click) = "userLogout()">Logout</span>
            </ng-template>
          </li>
          
        </ul>

        <!-- Nav -->
        <ul class="navbar-nav flex-row">
          
          <li class="nav-item ml-lg-n4">
            <span class="nav-link cursor" (click) = "sendToUserProfile()">
                <i class="fas fa-user"></i>
            </span>
          </li>
          <li class="nav-item ml-lg-n4">
            <span class="nav-link cursor" (click) = "sendToUserProfile('Widhlist')">
                <i class="fas fa-heart"></i>
            </span>
          </li>
          <li class="nav-item ml-lg-n4">
            <span class="nav-link cursor" data-toggle="modal" data-target="#modalShoppingCart">
                <i class="fas fa-shopping-cart"></i> 
                <span 
                  class='badge badge-warning' 
                  id='lblCartCount' 
                  *ngIf = "shopping_items"> {{shopping_items}} </span>
              </span>
          </li>
        </ul>

      </div>

    </div>
</nav>