<div class="py-11 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="mb-10 mb-md-0">
                    <ul class="nav nav-vertical" id="filterNav">
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle font-size-lg text-reset border-bottom mb-6 collapsed" data-toggle="collapse" href="#categoryCollapse" aria-expanded="false">
                                <strong> Category </strong>
                            </a>

                            <div class="collapse" id="categoryCollapse">
                                <div class="form-group">
                                    <ul class="list-styled mb-0" id="productsNav">
                                        <li class="list-styled-item text-left ml-4">
                                            <a href="#" class="list-styled-link">All products</a>
                                        </li>
                                        <li class="list-styled-item text-left ml-4">
                                            <a href="#" class="list-styled-link">All products</a>
                                        </li>
                                        <li class="list-styled-item text-left ml-4">
                                            <a href="#" class="list-styled-link">All products</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle font-size-lg text-reset border-bottom mb-6" data-toggle="collapse" href="#sizeCollapse" aria-expanded="true">
                                <strong> Size </strong>
                            </a>

                            <div class="collapse show" id="sizeCollapse" data-toggle="simplebar" data-target="#sizeGroup">
                                <ul class="d-flex flex-wrap">
                                    <li class="list-group-item m-2 p-4 text-center border cursor">3XS</li>
                                    <li class="list-group-item m-2 p-4 text-center border">2XS</li>
                                    <li class="list-group-item m-2 p-4 text-center border">XS</li>
                                    <li class="list-group-item m-2 p-4 text-center border">S</li>
                                    <li class="list-group-item m-2 p-4 text-center border">M</li>
                                    <li class="list-group-item m-2 p-4 text-center border">L</li>
                                    <li class="list-group-item m-2 p-4 text-center border">XL</li>
                                    <li class="list-group-item m-2 p-4 text-center border">3XL</li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle font-size-lg text-reset border-bottom mb-6" data-toggle="collapse" href="#priceCollapse" aria-expanded="true">
                                <strong> Price </strong>
                            </a>

                            <div class="collapse show" id="priceCollapse" data-toggle="simplebar" data-target="#priceGroup">
                                <ul>
                                    <p>
                                        <label>
                                            <input type="radio" name="group1" class="mr-2"/>
                                            <span>$10.00 - $49.00</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                            <input type="radio" name="group1"/>
                                            <span>$50.00 - $99.00</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                            <input type="radio" name="group1"/>
                                            <span>$100.00 - $199.00</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                            <input type="radio" name="group1"/>
                                            <span>$200.00 and Up</span>
                                        </label>
                                    </p>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-9">
                <!-- slider image  -->
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="https://media.offbroadwayshoes.com/images/2020/Q3/homepage/20200715-cb-adidas.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>First slide label</h5>
                          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="https://confidentialman.com/wp-content/uploads/2016/10/Shoes-too-Consider-if-You-Cant-Afford-the-Nike-Air-MAG-950x600.jpg" class="d-block w-100 " alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Second slide label</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="https://theplaybook.asia/wp-content/uploads/sites/27/2016/10/DSC_2539-950x634-950x600.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Third slide label</h5>
                          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                  <!-- Heading -->
                  <div class="row align-items-center mt-5 ">
                    <div class="col-12 col-md">
      
                      <!-- Heading -->
                      <h3 class="mb-1">Womens' Clothing</h3>
      
                      <!-- Breadcrumb -->
                      <ol class="breadcrumb mb-md-0 font-size-xs bg-transparent">
                        <li class="breadcrumb-item">
                          <a class="text-muted mx-3" href="index.html">Home </a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a class="text-muted mx-3" href="index.html"> Women's Clothing </a>
                        </li>
                      </ol>
      
                    </div>
                    <div class="col-12 col-md-auto">
      
                      <!-- Select -->
                      <select class="custom-select custom-select-xs">
                        <option selected="">Most popular</option>
                      </select>
      
                    </div>
                  </div>

                  <!-- Tags -->
                  <div class="row m-7 ">
                    <div class="col-12">
      
                      <span class="btn btn-xs btn-light font-weight-normal text-muted mr-3 mb-3">
                        Shift dresses <a class="text-reset ml-2" href="#!" role="button">
                          <i class="fas fa-times"></i>
                        </a>
                      </span>
                      <span class="btn btn-xs btn-light font-weight-normal text-muted mr-3 mb-3">
                        Summer <a class="text-reset ml-2" href="#!" role="button">
                          <i class="fas fa-times"></i>
                        </a>
                      </span>
                      <span class="btn btn-xs btn-light font-weight-normal text-muted mr-3 mb-3">
                        M <a class="text-reset ml-2" href="#!" role="button">
                          <i class="fas fa-times"></i>
                        </a>
                      </span>
                      <span class="btn btn-xs btn-light font-weight-normal text-muted mr-3 mb-3">
                        White <a class="text-reset ml-2" href="#!" role="button">
                          <i class="fas fa-times"></i>
                        </a>
                      </span>
                      <span class="btn btn-xs btn-light font-weight-normal text-muted mr-3 mb-3">
                        Red <a class="text-reset ml-2" href="#!" role="button">
                          <i class="fas fa-times"></i>
                        </a>
                      </span>
                      <span class="btn btn-xs btn-light font-weight-normal text-muted mr-3 mb-3">
                        Adidas <a class="text-reset ml-2" href="#!" role="button">
                          <i class="fas fa-times"></i>
                        </a>
                      </span>
                      <span class="btn btn-xs btn-light font-weight-normal text-muted mr-3 mb-3">
                        $10.00 - $49.00 <a class="text-reset ml-2" href="#!" role="button">
                          <i class="fas fa-times"></i>
                        </a>
                      </span>
                      <span class="btn btn-xs btn-light font-weight-normal text-muted mr-3 mb-3">
                        $50.00 - $99.00 <a class="text-reset ml-2" href="#!" role="button">
                          <i class="fas fa-times"></i>
                        </a>
                      </span>
      
                    </div>
                  </div>

                  <!-- Producs -->
                  <div class="row">
                    <div class="col-6 col-md-4">
                      <div class="card mb-7 border-0">
                        <div class="badge badge-white card-badge card-badge-left text-uppercase">
                          New
                        </div>

                        <div class="card-img">
      
                          <!-- Image -->
                          <a class="card-img-hover" href="product.html">
                            <img class="card-img-top" src="https://assets.adidas.com/images/h_320,f_auto,q_auto:sensitive,fl_lossy/449c838942da409f8ba9a97f00d3cffe_9366/Runfalcon_Shoes_Black_F36199_01_standard.jpg" alt="...">
                          </a>

                          <!-- action -->
                          <div class="card-actions">
                            <span class="card-action">
                              <button class="btn btn-xs btn-circle btn-light mx-2" data-toggle="modal" data-target="#modalProduct">
                                <i class="fas fa-eye"></i>
                              </button>
                            </span>
                            <span class="card-action">
                              <button class="btn btn-xs btn-circle btn-light mx-2" data-toggle="button">
                                <i class="fas fa-shopping-cart"></i>
                              </button>
                            </span>
                            <span class="card-action">
                              <button class="btn btn-xs btn-circle btn-light mx-2" data-toggle="button">
                                <i class="fas fa-heart"></i>
                              </button>
                            </span>
                          </div>
      
                        </div>
      
                        <!-- Body -->
                        <div class="card-body px-0">
      
                          <!-- Category -->
                          <div class="font-size-xs">
                            <a class="text-muted" href="shop.html">Shoes</a>
                          </div>
      
                          <!-- Title -->
                          <div class="font-weight-bold">
                            <a class="text-body" href="product.html">
                              Leather mid-heel Sandals
                            </a>
                          </div>
      
                          <!-- Price -->
                          <div class="font-weight-bold text-muted">
                            $129.00
                          </div>
      
                        </div>
      
                      </div>
      
                    </div>
                    <div class="col-6 col-md-4">
      
                      <!-- Card -->
                      <div class="card mb-7 border-0">
      
                        <!-- Image -->
                        <div class="card-img">
      
                          <!-- Image -->
                          <a class="card-img-hover" href="product.html">
                            <img class="card-img-top" src="https://assets.adidas.com/images/h_320,f_auto,q_auto:sensitive,fl_lossy/449c838942da409f8ba9a97f00d3cffe_9366/Runfalcon_Shoes_Black_F36199_01_standard.jpg" alt="...">
                          </a>

                          <!-- action -->
                          <div class="card-actions">
                            <span class="card-action">
                              <button class="btn btn-xs btn-circle btn-light mx-2" data-toggle="modal" data-target="#modalProduct">
                                <i class="fas fa-eye"></i>
                              </button>
                            </span>
                            <span class="card-action">
                              <button class="btn btn-xs btn-circle btn-light mx-2" data-toggle="button">
                                <i class="fas fa-shopping-cart"></i>
                              </button>
                            </span>
                            <span class="card-action">
                              <button class="btn btn-xs btn-circle btn-light mx-2" data-toggle="button">
                                <i class="fas fa-heart"></i>
                              </button>
                            </span>
                          </div>
      
                        </div>
      
                        <!-- Body -->
                        <div class="card-body px-0">
      
                          <!-- Category -->
                          <div class="font-size-xs">
                            <a class="text-muted" href="shop.html">Dresses</a>
                          </div>
      
                          <!-- Title -->
                          <div class="font-weight-bold">
                            <a class="text-body" href="product.html">
                              Cotton floral print Dress
                            </a>
                          </div>
      
                          <!-- Price -->
                          <div class="font-weight-bold text-muted">
                            $40.00
                          </div>
      
                        </div>
      
                      </div>
      
                    </div>

                    <div class="col-6 col-md-4">
                        <div class="card mb-7 border-0">
                          <div class="badge badge-dark card-badge card-badge-left text-uppercase">
                            Sale
                          </div>

                          <div class="card-img">
        
                            <!-- Image -->
                            <a class="card-img-hover" href="product.html">
                              <img class="card-img-top" src="https://assets.adidas.com/images/h_320,f_auto,q_auto:sensitive,fl_lossy/449c838942da409f8ba9a97f00d3cffe_9366/Runfalcon_Shoes_Black_F36199_01_standard.jpg" alt="...">
                            </a>

                            <!-- action -->
                            <div class="card-actions">
                              <span class="card-action">
                                <button class="btn btn-xs btn-circle btn-light mx-2" data-toggle="modal" data-target="#modalProduct">
                                  <i class="fas fa-eye"></i>
                                </button>
                              </span>
                              <span class="card-action">
                                <button class="btn btn-xs btn-circle btn-light mx-2" data-toggle="button">
                                  <i class="fas fa-shopping-cart"></i>
                                </button>
                              </span>
                              <span class="card-action">
                                <button class="btn btn-xs btn-circle btn-light mx-2" data-toggle="button">
                                  <i class="fas fa-heart"></i>
                                </button>
                              </span>
                            </div>
        
                          </div>
        
                          <!-- Body -->
                          <div class="card-body px-0">
        
                            <!-- Category -->
                            <div class="font-size-xs">
                              <a class="text-muted" href="shop.html">Shoes</a>
                            </div>
        
                            <!-- Title -->
                            <div class="font-weight-bold">
                              <a class="text-body" href="product.html">
                                Leather mid-heel Sandals
                              </a>
                            </div>
        
                            <!-- Price -->
                            <div class="font-weight-bold">
                                <span class="font-size-xs text-gray-350 text-decoration-line-through">$182.00</span>
                                <span class="text-primary">$129.00</span>
                            </div>
        
                          </div>
        
                        </div>
        
                      </div>
                    
                  </div>

                  <!-- Pagination -->

                <nav class="d-flex justify-content-center justify-content-md-end">
                    <ul class="pagination pagination-sm text-gray-400">
                    <li class="page-item">
                        <a class="page-link page-link-arrow" href="#">
                        <i class="fa fa-caret-left"></i>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">5</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">6</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link page-link-arrow" href="#">
                        <i class="fa fa-caret-right"></i>
                        </a>
                    </li>
                    </ul>
                </nav>
            </div>
                
        </div>
    </div>
</div> 