<nav class="py-5" *ngIf = "items.length">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- Breadcrumb -->
          <ol class="breadcrumb mb-0 font-size-xs text-gray-400">
            <li class="breadcrumb-item">
              <span class="text-gray-400 cursor" [routerLink] = "['/']">Home</span>
            </li>
            <li class="breadcrumb-item active">
              Catalog
            </li>
            <li class="breadcrumb-item active">
              {{current_catalog}}
            </li>
          </ol>

        </div>
      </div>
    </div>
  </nav>

<div class="py-11 mt-5" *ngIf = "items.length">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="mb-10 mb-md-0">
                    <ul class="nav nav-vertical" id="filterNav">
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle font-size-lg text-reset border-bottom mb-6" data-toggle="collapse" href="#priceCollapse" aria-expanded="true">
                              <strong> Price </strong>
                            </a>

                            <div class="collapse show" id="priceCollapse" data-toggle="simplebar" data-target="#priceGroup">
                              <ul class="list-group list-group-flush">
                                <li class="list-group-item w-100 cursor list-group-item-action list-group-item-light"  *ngFor = "let price of price_range , let i = index" (click) = "filter_price(price , i)">
                                  <span [class.text-info] = "i === filter_price_index">${{price[0] | number: '1.2'}} - ${{price[1] | number: '1.2'}}</span>
                                </li>
                              </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-9">
                <!-- slider image  -->
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div [ngClass]="slide_class(i)" *ngFor = "let image of slide_imgs , let i = index">
                        <img [src]="image.img" [alt]="image.title">
                        <div class="carousel-caption d-none d-md-block black_tp_background">
                          <h5 class="text-monospace">{{image.title}}</h5>
                          <p class="text-monospace">{{image.category}}</p>
                        </div>
                      </div>

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                  <!-- Heading -->
                  <div class="row align-items-center mt-5 ">
                    <div class="col-12 col-md">
      
                      <!-- Heading -->
                      <h3 class="mb-1">{{current_catalog}}</h3>
      
                      <!-- Breadcrumb -->
                      <ol class="breadcrumb mb-md-0 font-size-xs bg-transparent">
                        <li class="breadcrumb-item">
                          <a class="text-muted mx-3" href="index.html">Home </a>
                        </li>
                        <li class="breadcrumb-item active">
                            <span class="text-muted mx-3"> {{current_catalog}} </span>
                        </li>
                      </ol>
      
                    </div>
                  </div>

                  <!-- Tags -->
                  <div class="row m-7 ">
                    <div class="col-12">
      
                        <span 
                            class="btn btn-xs btn-light font-weight-normal text-muted mr-3 mb-3"
                            *ngFor = "let detail of filter_details; let i = index"
                            >
                                {{detail.value}}
                            <a class="text-reset ml-2" role="button" (click) = "remove_filter(i , detail.title)">
                                <i class="fas fa-times"></i>
                            </a>
                        </span>
                      
                    </div>
                  </div>

                  <!-- Producs -->
                  <div class="row">
                    <div class="col-6 col-md-4" *ngFor = "let item of display_items">
                        <div class="card mb-7 border-0">
                          <div class="badge badge-primary card-badge text-uppercase" *ngIf = "item.isSale">
                            Sale
                          </div>
      
                          <div class="badge badge-dark card-badge text-uppercase" *ngIf = "item.is_New">
                            New
                          </div>

                          <div class="card-img">
        
                            <button class="btn btn-xs btn-block btn-dark card-btn" [routerLink] = "['/item']" (click) = "viewItem(item)">
                              <i class="far fa-eye mr-2 mb-1"></i> Quick View
                            </button>
                            <img [src]="item.img" class="card-img-top" [alt]="item.title">
        
                          </div>
        
                          <!-- Body -->
                          <div class="card-body px-0 px-4">
        
                            <!-- Category -->
                            <div class="font-size-xs">
                              <span class="text-muted">{{item.category}}</span>
                            </div>
        
                            <!-- Title -->
                            <div class="font-weight-bold">
                              <span class="text-body">
                                {{item.title}}
                              </span>
                            </div>
                            <ng-template [ngIf] = "item.isSale" [ngIfElse] = "elseBlock">
                              <p class="text-right">
                                <span class="text-muted text-decoration-line-through">${{item.current_price | number: '1.2'}}</span>
                                <span class="ml-1 font-size-h6 font-weight-bolder text-primary">${{item.sale_price | number: '1.2'}}</span>
                              </p>
                            </ng-template>
                            <ng-template #elseBlock>
                              <p class="text-muted text-right">${{item.current_price | number: '1.2'}}</p>
                            </ng-template>
        
                          </div>
        
                        </div>
        
                      </div>

                      <div class="container text-center" *ngIf = "clone_items.length === 0">
                        <h3 class="text-monospace">Item not found</h3>
                      </div>
                    
                  </div>

                  <!-- Pagination -->

                  <nav class="d-flex justify-content-center justify-content-md-end" *ngIf = "clone_items.length > item_display_amount">
                    <ul class="pagination pagination-sm text-gray-400">
                      <li class="page-item">
                        <span class="page-link page-link-arrow cursor" (click) = "change_page('prev')">
                          <i class="fa fa-caret-left"></i>
                        </span>
                      </li>
                      <li [ngClass] = "pagination_class(i)" *ngFor = "let num of item_length; let i = index" >
                        <span class="page-link cursor" (click) = "change_page_number(i)">{{i + 1}}</span>
                      </li>
                      <li class="page-item">
                        <span class="page-link page-link-arrow cursor" (click) = "change_page('next')" >
                          <i class="fa fa-caret-right"></i>
                        </span>
                      </li>
                    </ul>
                  </nav>
            </div>
                
        </div>
    </div>
</div> 

<ng-template [ngIf] = "items.length === 0">
  <app-page-not-found></app-page-not-found>
</ng-template>